<ion-content class="" style="background-color: #F9F9F9; top:0px; left:0px; width: 100%; height: 100%;">
  <ion-grid class="" style="">
    <div style="position: absolute; background-color: #454EDB; top:0px; left:0px; width: 100%; z-index: 2;"
      class="heightBlue"></div>
    <ion-grid style="text-align: center; padding: 0; z-index: 3;">
      <ion-row>
        <ion-col>
          <img class="logo" src="../assets/icon/iso-blanco.png">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <h2 class="crearStyle">Iniciar sesión</h2>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid padding text-center style="z-index: 3;">
      <ion-row>
        <ion-col>
          <form [formGroup]="loginForm" (ngSubmit)="login()">
            <ion-list>
              <ion-item>
                <ion-label stacked style="font-family: SfUiDisplayLight; font-size: 10pt;">Email o Tele</ion-label>
                <ion-input formControlName="username" placeholder="" type="text"></ion-input>
                <img item-right *ngIf="loginForm.controls.username.invalid && loginForm.controls.username.touched"
                  src="../../assets/imgs/cross.png" style="width: 10%;">
                <img item-right *ngIf="loginForm.controls.username.valid && loginForm.controls.username.touched"
                  src="../../assets/imgs/check.png" style="width: 10%;">
              </ion-item>

              <ion-item>
                <ion-label floating style="font-family: SfUiDisplayLight; font-size: 14pt;">Contraseña</ion-label>
                <ion-input formControlName="clave" type="password"></ion-input>
                <img item-right *ngIf="loginForm.controls.clave.invalid && loginForm.controls.clave.touched"
                  src="../../assets/imgs/cross.png" style="width: 10%;">
                <img item-right *ngIf="loginForm.controls.clave.valid && loginForm.controls.clave.touched"
                  src="../../assets/imgs/check.png" style="width: 10%;">
              </ion-item>
              <span></span>
            </ion-list>
            <div class="buttonIng">
              <button color="button-color" ion-button full type="submit"
                style="border-radius: 20px; width: 160px; height: 48px; left: 50%; margin-left: -80px; background-color: #454EDB; font-family: SfUiDisplayRegular; font-size: 12pt;"
                [disabled]="!loginForm.valid">Ingresar</button>
            </div>

          </form>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <button (click)="loginFacebook()" margin-vertical ion-button full style="background-color: #3b5998; color:White;">Login
            with Facebook</button>
          <span style="font-family: SfUiDisplayLight; font-size: 12pt;">¿No tenés cuenta?</span> <span
            style="font-family: SfUiDisplayBold; font-size: 12pt; color: #454EDB; cursor: pointer;"
            (click)="goToRegister()">REGISTRATE</span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-grid>
</ion-content>