<div id="backBlack" style="position: absolute; background-color: black; opacity: 0; top:0px; left:0px; width: 100%; height: 100%; z-index: 101; visibility: hidden; transition: all 0.2s linear;"></div>
<ion-content class="" style="background-color: #F4F4F4; top:0px; left:0px; width: 100%; height: 100%;">
  <ion-grid style="padding: 0;">
    <ion-grid style="text-align: center; padding: 0; z-index: 3;">
      <table>
        <tr style="background-color: #3740C3; height: 63px;">
          <td colspan="3" style="vertical-align: bottom;"><img src="../assets/icon/logo-blanco.png" style="width: 30%;"></td>
        </tr>
        <tr style="background-color: white; border-bottom: 2px solid #454EDB;">
          <td>
            <div style="display: flex;">
              <div class="circleFirst positionFirstNumber" style="background-color: #454EDB;">
                <p>1</p>
              </div>
              <div class="circleSecond positionSecondNumber" style="background-color: transparent;">
                <p>2</p>
              </div>
              <div class="circleSecond positionSecondNumber" style="background-color: transparent;">
                <p>3</p>
              </div>
            </div>
            <div>
              <div class="arrow-up firstArrow"></div>
            </div>
          </td>
        </tr>
        <tr><br></tr>
        <tr>
          <td>
            <span class="titleText">Seleccione la especialidad<br/>y profesional que está buscando</span>
          </td>
        </tr>
        <tr><br></tr>
        <tr><br></tr>
        <tr>
          <td>
            <table class="tableStyle">
              <tr style="border-bottom: 1px solid grey;">
                <td style="text-align: left; padding-left: 10px;"><span class="especialidadText">ESPECIALIDAD</span></td>
                <td>
                  <select style="background-color:transparent;
              -webkit-box-shadow: none !important; -moz-box-shadow: none !important;" class="selectSize" (change)="getSubspecialities($event.target.value);">
                    <option value=""></option>
                    <option *ngFor="let speciality of specialities; let i = index" value="{{i}}">{{speciality.description}}</option>
                  </select>
                </td>
              </tr>
              <tr style="border-bottom: 1px solid grey;">
                <td style="text-align: left; padding-left: 10px;"><span class="especialidadText">SUBESPECIALIDAD</span></td>
                <td>
                  <select style="background-color:transparent;
              -webkit-box-shadow: none !important; -moz-box-shadow: none !important;" class="selectSize" (change)="getDoctors($event.target.value);">
                    <option value=""></option>
                    <option *ngFor="let subspeciality of subspecialities; let i = index" value="{{i}}">{{subspeciality.description}}</option>
                  </select>
                </td>
              </tr>
              <tr style="border-bottom: 1px solid grey;">
                <td style="text-align: left; padding-left: 10px;"><span class="especialidadText">MÉDICO</span></td>
                <td>
                  <select style="background-color:transparent;
              -webkit-box-shadow: none !important; -moz-box-shadow: none !important;" class="selectSize">
                    <option value=""></option>
                    <option *ngFor="let doctor of doctors; let i = index" value="{{doctor.id}}">{{doctor.firstName}} {{doctor.lastName}}</option>
                  </select>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr><br></tr>
        <tr><br></tr>
        <tr>
          <td>
            <button color="button-color" ion-button full type="submit" class="nextButton">SIGUIENTE</button>
          </td>
        </tr>
      </table>
    </ion-grid>
  </ion-grid>
</ion-content>

<style>
  .arrow-up {
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;

    border-bottom: 12px solid #454EDB;
  }

  @media screen and (max-width: 320px) {
    .circleFirst {
      border: 0.1em solid grey;
      border-radius: 100%;
      height: 2em;
      width: 2em;
      text-align: center;
    }
    .circleFirst p {
      margin-top: 0.10em;
      font-size: 14pt;
      font-family: SfUiDisplaySemiBold;
    }
    .circleSecond {
      border: 0.1em solid #454EDB;
      border-radius: 100%;
      height: 2em;
      width: 2em;
      text-align: center;
    }
    .circleSecond p {
      margin-top: 0.10em;
      font-size: 14pt;
      font-family: SfUiDisplaySemiBold;
    }
    .positionFirstNumber {
      margin-left: 86px;
      margin-top: 21px;
      margin-bottom: 24px;
      color: white;
    }
    .positionSecondNumber {
      margin-left: 32px;
      margin-top: 21px;
      margin-bottom: 24px;
      color: #454EDB;
    }
    .titleText {
      font-family: SfUiDisplayRegular;
      font-size: 13pt;
    }
    .especialidadText {
      font-family: SfUiDisplaySemiBold;
      font-size: 10pt;
    }
    .tableStyle {
      width: 295px;
      height: 230px;
      background-color: white;
      border-radius: 10px;
      margin-left: 12px;
      box-shadow: 1px 2px 4px rgba(0, 0, 0, .2);
    }
    .firstArrow {
      margin-left: 88px;
    }
    .nextButton {
      border-radius: 20px;
      width: 160px;
      height: 48px;
      left: 50%;
      margin-left: -80px;
      background-color: #454EDB;
      font-family: SfUiDisplayRegular;
      font-size: 12pt;
    }
    .selectSize {
      width: 153px;
    }
  }

  @media screen and (max-width: 400px) and (min-width: 321px) {
    .circleFirst {
      border: 0.1em solid grey;
      border-radius: 100%;
      height: 2em;
      width: 2em;
      text-align: center;
    }
    .circleFirst p {
      margin-top: 0.10em;
      font-size: 14pt;
      font-family: SfUiDisplaySemiBold;
    }
    .circleSecond {
      border: 0.1em solid #454EDB;
      border-radius: 100%;
      height: 2em;
      width: 2em;
      text-align: center;
    }
    .circleSecond p {
      margin-top: 0.10em;
      font-size: 14pt;
      font-family: SfUiDisplaySemiBold;
    }
    .positionFirstNumber {
      margin-left: 120px;
      margin-top: 21px;
      margin-bottom: 24px;
      color: white;
    }
    .positionSecondNumber {
      margin-left: 32px;
      margin-top: 21px;
      margin-bottom: 24px;
      color: #454EDB;
    }
    .titleText {
      font-family: SfUiDisplayRegular;
      font-size: 14pt;
    }
    .especialidadText {
      font-family: SfUiDisplaySemiBold;
      font-size: 10pt;
    }
    .tableStyle {
      width: 328px;
      height: 230px;
      background-color: white;
      border-radius: 10px;
      margin-left: 25px;
      box-shadow: 1px 2px 4px rgba(0, 0, 0, .2);
    }
    .firstArrow {
      margin-left: 122px;
    }
    .nextButton {
      border-radius: 20px;
      width: 160px;
      height: 48px;
      left: 50%;
      margin-left: -80px;
      background-color: #454EDB;
      font-family: SfUiDisplayRegular;
      font-size: 12pt;
    }
    .selectSize {
      width: 170px;
    }
  }

  @media screen and (max-width: 450px) and (min-width: 400px) {
    .circleFirst {
      border: 0.1em solid grey;
      border-radius: 100%;
      height: 2em;
      width: 2em;
      text-align: center;
    }
    .circleFirst p {
      margin-top: 0.10em;
      font-size: 15pt;
      font-family: SfUiDisplaySemiBold;
    }
    .circleSecond {
      border: 0.1em solid #454EDB;
      border-radius: 100%;
      height: 2em;
      width: 2em;
      text-align: center;
    }
    .circleSecond p {
      margin-top: 0.10em;
      font-size: 15pt;
      font-family: SfUiDisplaySemiBold;
    }
    .positionFirstNumber {
      margin-left: 134px;
      margin-top: 21px;
      margin-bottom: 24px;
      color: white;
    }
    .positionSecondNumber {
      margin-left: 32px;
      margin-top: 21px;
      margin-bottom: 24px;
      color: #454EDB;
    }
    .titleText {
      font-family: SfUiDisplayRegular;
      font-size: 15pt;
    }
    .especialidadText {
      font-family: SfUiDisplaySemiBold;
      font-size: 13pt;
    }
    .tableStyle {
      width: 363px;
      height: 268px;
      background-color: white;
      border-radius: 10px;
      margin-left: 25px;
      box-shadow: 1px 2px 4px rgba(0, 0, 0, .2);
    }
    .firstArrow {
      margin-left: 136px;
    }
    .nextButton {
      border-radius: 20px;
      width: 160px;
      height: 48px;
      left: 50%;
      margin-left: -80px;
      background-color: #454EDB;
      font-family: SfUiDisplayRegular;
      font-size: 12pt;
    }
    .selectSize {
      width: 170px;
    }
  }

  @media screen and (max-width: 550px) and (min-width: 450px) {
    .circleFirst {
      border: 0.1em solid grey;
      border-radius: 100%;
      height: 2.5em;
      width: 2.5em;
      text-align: center;
    }
    .circleFirst p {
      margin-top: 0.10em;
      font-size: 17pt;
      font-family: SfUiDisplaySemiBold;
    }
    .circleSecond {
      border: 0.1em solid #454EDB;
      border-radius: 100%;
      height: 2.5em;
      width: 2.5em;
      text-align: center;
    }
    .circleSecond p {
      margin-top: 0.10em;
      font-size: 17pt;
      font-family: SfUiDisplaySemiBold;
    }
    .positionFirstNumber {
      margin-left: 158px;
      margin-top: 21px;
      margin-bottom: 24px;
      color: white;
    }
    .positionSecondNumber {
      margin-left: 32px;
      margin-top: 21px;
      margin-bottom: 24px;
      color: #454EDB;
    }
    .titleText {
      font-family: SfUiDisplayRegular;
      font-size: 17pt;
    }
    .especialidadText {
      font-family: SfUiDisplaySemiBold;
      font-size: 13pt;
    }
    .tableStyle {
      width: 435px;
      height: 305px;
      background-color: white;
      border-radius: 10px;
      margin-left: 25px;
      box-shadow: 1px 2px 4px rgba(0, 0, 0, .2);
    }
    .firstArrow {
      margin-left: 160px;
    }
    .nextButton {
      border-radius: 20px;
      width: 160px;
      height: 48px;
      left: 50%;
      margin-left: -80px;
      background-color: #454EDB;
      font-family: SfUiDisplayRegular;
      font-size: 14pt;
    }
    .selectSize {
      width: 185px;
    }
  }

  @media screen and (max-width: 1100px) and (min-width: 550px) {
    .circleFirst {
      border: 0.1em solid grey;
      border-radius: 100%;
      height: 3.4em;
      width: 3.4em;
      text-align: center;
    }
    .circleFirst p {
      margin-top: 0.10em;
      font-size: 21pt;
      font-family: SfUiDisplaySemiBold;
    }
    .circleSecond {
      border: 0.1em solid #454EDB;
      border-radius: 100%;
      height: 3.4em;
      width: 3.4em;
      text-align: center;
    }
    .circleSecond p {
      margin-top: 0.10em;
      font-size: 21pt;
      font-family: SfUiDisplaySemiBold;
    }
    .positionFirstNumber {
      margin-left: 283px;
      margin-top: 21px;
      margin-bottom: 24px;
      color: white;
    }
    .positionSecondNumber {
      margin-left: 32px;
      margin-top: 21px;
      margin-bottom: 24px;
      color: #454EDB;
    }
    .titleText {
      font-family: SfUiDisplayRegular;
      font-size: 20pt;
    }
    .especialidadText {
      font-family: SfUiDisplaySemiBold;
      font-size: 13pt;
    }
    .tableStyle {
      width: 716px;
      height: 380px;
      background-color: white;
      border-radius: 10px;
      margin-left: 25px;
      box-shadow: 1px 2px 4px rgba(0, 0, 0, .2);
    }
    .firstArrow {
      margin-left: 293px;
    }
    .nextButton {
      border-radius: 20px;
      width: 160px;
      height: 48px;
      left: 50%;
      margin-left: -80px;
      background-color: #454EDB;
      font-family: SfUiDisplayRegular;
      font-size: 16pt;
    }
    .selectSize {
      width: 240px;
    }
  }
</style>
