<ion-header>
  <ion-navbar color="primary">
    <ion-title mode="ios">
      <img src="assets/icon/logo-blanco.png" height="30" alt="Todo Reservas Logo">
    </ion-title>
  </ion-navbar>
</ion-header>

<div id="backBlackReserva" *ngIf="showBack"
  style="position: absolute; background-color: black; opacity: 0.7; top:0px; left:0px; width: 100%; height: 100%; z-index: 101; visibility: visible; transition: all 0.2s linear;">
</div>
<ion-content class="" style="background-color: #F4F4F4; top:0px; left:0px; width: 100%; height: 100%;">
  <ion-grid style="padding: 0;">
    <ion-grid style="text-align: center; padding: 0; z-index: 3;">
      <table>
        <tr style="background-color: white; border-bottom: 2px solid #454EDB;">
          <td colspan="2">
            <div style="display: flex;">
              <div id="firstStep" class="circleFirst positionFirstNumber" style="background-color: #454EDB;">
                <p>1</p>
              </div>
              <div id="secondStep" class="circleSecond positionSecondNumber" style="background-color: transparent;">
                <p>2</p>
              </div>
              <div id="thirdStep" class="circleSecond positionSecondNumber" style="background-color: transparent;">
                <p>3</p>
              </div>
            </div>
            <div>
              <div class="arrow-up firstArrow"></div>
              <div class="arrow-up secondArrow" style="display: none;"></div>
              <div class="arrow-up thirdArrow" style="display: none;"></div>
            </div>
          </td>
        </tr>
        <tr><br></tr>
        <tr *ngIf="step == 1">
          <td colspan="2">
            <span class="titleText">Seleccione la especialidad<br />y profesional que está buscando</span>
          </td>
        </tr>
        <tr *ngIf="step == 2">
          <td colspan="2">
            <span class="titleText">Seleccione día y hora</span>
          </td>
        </tr>
        <tr *ngIf="step == 3">
          <td colspan="2">
            <span class="titleText">Confirme su reserva</span>
          </td>
        </tr>
        <tr><br></tr>
        <tr><br></tr>
        <tr *ngIf="step == 1">
          <td colspan="2">
            <table class="tableStyle">
              <tr style="border-bottom: 0.1em solid grey;">
                <td style="text-align: left; padding-left: 10px;"><span class="especialidadText">ESPECIALIDAD</span>
                </td>
                <td>
                  <select style="background-color:transparent;
              -webkit-box-shadow: none !important; -moz-box-shadow: none !important;" class="selectSize"
                    (change)="getSubspecialities($event.target.value);">
                    <option value="{{-1}}">Seleccionar</option>
                    <option *ngFor="let speciality of specialities; let i = index" value="{{i}}">
                      {{speciality.description}}</option>
                  </select>
                </td>
              </tr>
              <tr style="border-bottom: 0.1em solid grey;">
                <td style="text-align: left; padding-left: 10px;"><span class="especialidadText">SUBESPECIALIDAD</span>
                </td>
                <td>
                  <select style="background-color:transparent;
              -webkit-box-shadow: none !important; -moz-box-shadow: none !important;" class="selectSize"
                    (change)="getDoctors($event.target.value);">
                    <option value="{{-1}}">Seleccionar</option>
                    <option *ngFor="let subspeciality of subspecialities; let i = index" value="{{i}}">
                      {{subspeciality.description}}</option>
                  </select>
                </td>
              </tr>
              <tr style="border-bottom: 0.1em solid grey;">
                <td style="text-align: left; padding-left: 10px;"><span class="especialidadText">{{professional}}</span>
                </td>
                <td>
                  <select style="background-color:transparent;
              -webkit-box-shadow: none !important; -moz-box-shadow: none !important;" class="selectSize"
                    [(ngModel)]="doctor">
                    <option value="">Seleccionar</option>
                    <option *ngFor="let doctor of doctors; let i = index" value="{{i}}">{{doctor.firstName}}
                      {{doctor.lastName}}</option>
                  </select>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr *ngIf="step == 2">
          <td colspan="2">
            <ion-calendar *ngIf="options.daysConfig.length > 0" [(ngModel)]="date" [options]=options
              (onChange)="showDayHours($event)" [type]="type" [format]="'YYYY-MM-DD'">
            </ion-calendar>
          </td>
        </tr>
        <tr *ngIf="step == 3">
          <td colspan="2">
            <table class="tableStyle" style="text-align: left;">
              <tr>
                <td style="padding-top: 22px;" class="paddingLeft"><span class="clinicName">{{name}}</span></td>
              </tr>
              <tr style="border-bottom: 0.1em solid grey;">
                <td style="padding-bottom: 30px;" class="paddingLeft"><span
                    class="clinicAddress">{{address}},{{city}}</span></td>
              </tr>
              <tr><br></tr>
              <tr>
                <td style="padding-top: 25px;" class="paddingLeft"><span class="especialidadTitle">Especialidad</span>
                </td>
              </tr>
              <tr>
                <td class="paddingLeft"><span class="especialidadDesc">{{specialities[speciality].description}}</span>
                </td>
              </tr>
              <tr><br></tr>
              <tr>
                <td class="paddingLeft"><span class="especialidadTitle">Profesional</span></td>
              </tr>
              <tr>
                <td class="paddingLeft"><span class="especialidadDesc">{{doctorName}}</span></td>
              </tr>
              <tr><br></tr>
              <tr>
                <td class="paddingLeft"><span class="especialidadTitle">Fecha y hora de la reserva</span></td>
              </tr>
              <tr>
                <td style="padding-bottom: 25px;" class="paddingLeft"><span class="especialidadDesc">{{day}}
                    {{hour}}</span></td>
              </tr>
            </table>
          </td>
        </tr>
        <tr *ngIf="isSearching">
          <td colspan="3"><img src="/assets/icon/loader.gif" style="width: 28%;" /></td>
        </tr>
        <tr><br></tr>
        <tr><br></tr>
        <tr *ngIf="step != 3">
          <td colspan="2">
            <button color="button-color" ion-button full type="submit" class="nextButton"
              (click)="nextStep();">SIGUIENTE</button>
          </td>
        </tr>
        <tr *ngIf="step == 3">
          <td colspan="2">
            <button color="button-color" ion-button full type="submit" class="confirmButton"
              (click)="nextStep();">CONFIRMAR RESERVA</button>
          </td>
        </tr>
      </table>
    </ion-grid>
  </ion-grid>
</ion-content>

<style>
  .arrow-up {
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;

    border-bottom: 12px solid #454EDB;
  }

  @media screen and (max-width: 320px) {
    .circleFirst {
      border: 0.1em solid grey;
      border-radius: 100%;
      height: 2em;
      width: 2em;
      text-align: center;
    }

    .circleFirst p {
      margin-top: 0.10em;
      font-size: 14pt;
      font-family: SfUiDisplaySemiBold;
    }

    .circleSecond {
      border: 0.1em solid #454EDB;
      border-radius: 100%;
      height: 2em;
      width: 2em;
      text-align: center;
    }

    .circleSecond p {
      margin-top: 0.10em;
      font-size: 14pt;
      font-family: SfUiDisplaySemiBold;
    }

    .positionFirstNumber {
      margin-left: 86px;
      margin-top: 21px;
      margin-bottom: 24px;
      color: white;
    }

    .positionSecondNumber {
      margin-left: 32px;
      margin-top: 21px;
      margin-bottom: 24px;
      color: #454EDB;
    }

    .titleText {
      font-family: SfUiDisplayRegular;
      font-size: 12pt;
    }

    .especialidadText {
      font-family: SfUiDisplaySemiBold;
      font-size: 9pt;
    }

    .tableStyle {
      width: 295px;
      height: 230px;
      background-color: white;
      border-radius: 10px;
      margin-left: 12px;
      box-shadow: 1px 2px 4px rgba(0, 0, 0, .2);
    }

    .firstArrow {
      margin-left: 88px;
    }

    .secondArrow {
      margin-left: 148px;
    }

    .thirdArrow {
      margin-left: 207px;
    }

    .nextButton {
      border-radius: 20px;
      width: 160px;
      height: 48px;
      left: 50%;
      margin-left: -80px;
      background-color: #454EDB;
      font-family: SfUiDisplayRegular;
      font-size: 12pt;
    }

    .selectSize {
      width: 153px;
      height: 35px;
    }

    .clinicName {
      font-size: 15pt;
      font-family: SfUiDisplayBold;
      color: #454EDB;
    }

    .clinicAddress {
      font-family: SfUiDisplayRegular;
      font-size: 15pt;
      color: #454EDB;
    }

    .especialidadTitle {
      font-family: SfUiDisplayBold;
      font-size: 12pt;
      color: black;
    }

    .especialidadDesc {
      font-family: SfUiDisplayLight;
      font-size: 15pt;
      color: black;
    }

    .paddingLeft {
      padding-left: 15px;
    }

    .confirmButton {
      border-radius: 20px;
      width: 186px;
      height: 48px;
      left: 50%;
      margin-left: -93px;
      background-color: #00B901;
      font-family: SfUiDisplayRegular;
      font-size: 12pt;
    }

    .logoPosition {
      margin-left: -40px;
    }
  }

  @media screen and (max-width: 360px) and (min-width: 321px) {
    .circleFirst {
      border: 0.1em solid grey;
      border-radius: 100%;
      height: 2em;
      width: 2em;
      text-align: center;
    }

    .circleFirst p {
      margin-top: 0.10em;
      font-size: 14pt;
      font-family: SfUiDisplaySemiBold;
    }

    .circleSecond {
      border: 0.1em solid #454EDB;
      border-radius: 100%;
      height: 2em;
      width: 2em;
      text-align: center;
    }

    .circleSecond p {
      margin-top: 0.10em;
      font-size: 14pt;
      font-family: SfUiDisplaySemiBold;
    }

    .positionFirstNumber {
      margin-left: 105px;
      margin-top: 21px;
      margin-bottom: 24px;
      color: white;
    }

    .positionSecondNumber {
      margin-left: 32px;
      margin-top: 21px;
      margin-bottom: 24px;
      color: #454EDB;
    }

    .titleText {
      font-family: SfUiDisplayRegular;
      font-size: 13pt;
    }

    .especialidadText {
      font-family: SfUiDisplaySemiBold;
      font-size: 9pt;
    }

    .tableStyle {
      width: 328px;
      height: 230px;
      background-color: white;
      border-radius: 10px;
      margin-left: 16px;
      box-shadow: 1px 2px 4px rgba(0, 0, 0, .2);
    }

    .firstArrow {
      margin-left: 107px;
    }

    .secondArrow {
      margin-left: 166px;
    }

    .thirdArrow {
      margin-left: 226px;
    }

    .nextButton {
      border-radius: 20px;
      width: 160px;
      height: 48px;
      left: 50%;
      margin-left: -80px;
      background-color: #454EDB;
      font-family: SfUiDisplayRegular;
      font-size: 12pt;
    }

    .confirmButton {
      border-radius: 20px;
      width: 186px;
      height: 48px;
      left: 50%;
      margin-left: -93px;
      background-color: #00B901;
      font-family: SfUiDisplayRegular;
      font-size: 12pt;
    }

    .selectSize {
      width: 170px;
      height: 35px;
    }

    .clinicName {
      font-size: 15pt;
      font-family: SfUiDisplayBold;
      color: #454EDB;
    }

    .clinicAddress {
      font-family: SfUiDisplayRegular;
      font-size: 15pt;
      color: #454EDB;
    }

    .especialidadTitle {
      font-family: SfUiDisplayBold;
      font-size: 12pt;
      color: black;
    }

    .especialidadDesc {
      font-family: SfUiDisplayLight;
      font-size: 15pt;
      color: black;
    }

    .paddingLeft {
      padding-left: 15px;
    }

    .logoPosition {
      margin-left: -40px;
    }
  }

  @media screen and (max-width: 400px) and (min-width: 361px) {
    .circleFirst {
      border: 0.1em solid grey;
      border-radius: 100%;
      height: 2em;
      width: 2em;
      text-align: center;
    }

    .circleFirst p {
      margin-top: 0.10em;
      font-size: 14pt;
      font-family: SfUiDisplaySemiBold;
    }

    .circleSecond {
      border: 0.1em solid #454EDB;
      border-radius: 100%;
      height: 2em;
      width: 2em;
      text-align: center;
    }

    .circleSecond p {
      margin-top: 0.10em;
      font-size: 14pt;
      font-family: SfUiDisplaySemiBold;
    }

    .positionFirstNumber {
      margin-left: 120px;
      margin-top: 21px;
      margin-bottom: 24px;
      color: white;
    }

    .positionSecondNumber {
      margin-left: 32px;
      margin-top: 21px;
      margin-bottom: 24px;
      color: #454EDB;
    }

    .titleText {
      font-family: SfUiDisplayRegular;
      font-size: 13pt;
    }

    .especialidadText {
      font-family: SfUiDisplaySemiBold;
      font-size: 9pt;
    }

    .tableStyle {
      width: 328px;
      height: 230px;
      background-color: white;
      border-radius: 10px;
      margin-left: 25px;
      box-shadow: 1px 2px 4px rgba(0, 0, 0, .2);
    }

    .firstArrow {
      margin-left: 122px;
    }

    .secondArrow {
      margin-left: 181px;
    }

    .thirdArrow {
      margin-left: 241px;
    }

    .nextButton {
      border-radius: 20px;
      width: 160px;
      height: 48px;
      left: 50%;
      margin-left: -80px;
      background-color: #454EDB;
      font-family: SfUiDisplayRegular;
      font-size: 12pt;
    }

    .confirmButton {
      border-radius: 20px;
      width: 186px;
      height: 48px;
      left: 50%;
      margin-left: -93px;
      background-color: #00B901;
      font-family: SfUiDisplayRegular;
      font-size: 12pt;
    }

    .selectSize {
      width: 170px;
      height: 35px;
    }

    .clinicName {
      font-size: 15pt;
      font-family: SfUiDisplayBold;
      color: #454EDB;
    }

    .clinicAddress {
      font-family: SfUiDisplayRegular;
      font-size: 15pt;
      color: #454EDB;
    }

    .especialidadTitle {
      font-family: SfUiDisplayBold;
      font-size: 12pt;
      color: black;
    }

    .especialidadDesc {
      font-family: SfUiDisplayLight;
      font-size: 15pt;
      color: black;
    }

    .paddingLeft {
      padding-left: 15px;
    }

    .logoPosition {
      margin-left: -40px;
    }
  }

  @media screen and (max-width: 450px) and (min-width: 400px) {
    .circleFirst {
      border: 0.1em solid grey;
      border-radius: 100%;
      height: 2em;
      width: 2em;
      text-align: center;
    }

    .circleFirst p {
      margin-top: 0.10em;
      font-size: 15pt;
      font-family: SfUiDisplaySemiBold;
    }

    .circleSecond {
      border: 0.1em solid #454EDB;
      border-radius: 100%;
      height: 2em;
      width: 2em;
      text-align: center;
    }

    .circleSecond p {
      margin-top: 0.10em;
      font-size: 15pt;
      font-family: SfUiDisplaySemiBold;
    }

    .positionFirstNumber {
      margin-left: 134px;
      margin-top: 21px;
      margin-bottom: 24px;
      color: white;
    }

    .positionSecondNumber {
      margin-left: 32px;
      margin-top: 21px;
      margin-bottom: 24px;
      color: #454EDB;
    }

    .titleText {
      font-family: SfUiDisplayRegular;
      font-size: 14pt;
    }

    .especialidadText {
      font-family: SfUiDisplaySemiBold;
      font-size: 12pt;
    }

    .tableStyle {
      width: 363px;
      height: 268px;
      background-color: white;
      border-radius: 10px;
      margin-left: 25px;
      box-shadow: 1px 2px 4px rgba(0, 0, 0, .2);
    }

    .firstArrow {
      margin-left: 136px;
    }

    .secondArrow {
      margin-left: 196px;
    }

    .thirdArrow {
      margin-left: 256px;
    }

    .nextButton {
      border-radius: 20px;
      width: 160px;
      height: 48px;
      left: 50%;
      margin-left: -80px;
      background-color: #454EDB;
      font-family: SfUiDisplayRegular;
      font-size: 12pt;
    }

    .selectSize {
      width: 170px;
      height: 35px;
    }

    .clinicName {
      font-size: 15pt;
      font-family: SfUiDisplayBold;
      color: #454EDB;
    }

    .clinicAddress {
      font-family: SfUiDisplayRegular;
      font-size: 15pt;
      color: #454EDB;
    }

    .especialidadTitle {
      font-family: SfUiDisplayBold;
      font-size: 12pt;
      color: black;
    }

    .especialidadDesc {
      font-family: SfUiDisplayLight;
      font-size: 15pt;
      color: black;
    }

    .paddingLeft {
      padding-left: 15px;
    }

    .confirmButton {
      border-radius: 20px;
      width: 186px;
      height: 48px;
      left: 50%;
      margin-left: -93px;
      background-color: #00B901;
      font-family: SfUiDisplayRegular;
      font-size: 12pt;
    }

    .logoPosition {
      margin-left: -40px;
    }
  }

  @media screen and (max-width: 550px) and (min-width: 450px) {
    .circleFirst {
      border: 0.1em solid grey;
      border-radius: 100%;
      height: 2.5em;
      width: 2.5em;
      text-align: center;
    }

    .circleFirst p {
      margin-top: 0.10em;
      font-size: 17pt;
      font-family: SfUiDisplaySemiBold;
    }

    .circleSecond {
      border: 0.1em solid #454EDB;
      border-radius: 100%;
      height: 2.5em;
      width: 2.5em;
      text-align: center;
    }

    .circleSecond p {
      margin-top: 0.10em;
      font-size: 17pt;
      font-family: SfUiDisplaySemiBold;
    }

    .positionFirstNumber {
      margin-left: 158px;
      margin-top: 21px;
      margin-bottom: 24px;
      color: white;
    }

    .positionSecondNumber {
      margin-left: 32px;
      margin-top: 21px;
      margin-bottom: 24px;
      color: #454EDB;
    }

    .titleText {
      font-family: SfUiDisplayRegular;
      font-size: 16pt;
    }

    .especialidadText {
      font-family: SfUiDisplaySemiBold;
      font-size: 12pt;
    }

    .tableStyle {
      width: 435px;
      height: 305px;
      background-color: white;
      border-radius: 10px;
      margin-left: 25px;
      box-shadow: 1px 2px 4px rgba(0, 0, 0, .2);
    }

    .firstArrow {
      margin-left: 160px;
    }

    .secondArrow {
      margin-left: 229px;
    }

    .thirdArrow {
      margin-left: 297px;
    }

    .nextButton {
      border-radius: 20px;
      width: 160px;
      height: 48px;
      left: 50%;
      margin-left: -80px;
      background-color: #454EDB;
      font-family: SfUiDisplayRegular;
      font-size: 14pt;
    }

    .selectSize {
      width: 185px;
      height: 35px;
    }

    .clinicName {
      font-size: 17pt;
      font-family: SfUiDisplayBold;
      color: #454EDB;
    }

    .clinicAddress {
      font-family: SfUiDisplayRegular;
      font-size: 17pt;
      color: #454EDB;
    }

    .especialidadTitle {
      font-family: SfUiDisplayBold;
      font-size: 14pt;
      color: black;
    }

    .especialidadDesc {
      font-family: SfUiDisplayLight;
      font-size: 17pt;
      color: black;
    }

    .paddingLeft {
      padding-left: 17px;
    }

    .confirmButton {
      border-radius: 20px;
      width: 208px;
      height: 48px;
      left: 50%;
      margin-left: -101px;
      background-color: #00B901;
      font-family: SfUiDisplayRegular;
      font-size: 14pt;
    }

    .logoPosition {
      margin-left: -40px;
    }
  }

  @media screen and (max-width: 1100px) and (min-width: 550px) {
    .circleFirst {
      border: 0.1em solid grey;
      border-radius: 100%;
      height: 3.4em;
      width: 3.4em;
      text-align: center;
    }

    .circleFirst p {
      margin-top: 0.10em;
      font-size: 21pt;
      font-family: SfUiDisplaySemiBold;
    }

    .circleSecond {
      border: 0.1em solid #454EDB;
      border-radius: 100%;
      height: 3.4em;
      width: 3.4em;
      text-align: center;
    }

    .circleSecond p {
      margin-top: 0.10em;
      font-size: 21pt;
      font-family: SfUiDisplaySemiBold;
    }

    .positionFirstNumber {
      margin-left: 283px;
      margin-top: 21px;
      margin-bottom: 24px;
      color: white;
    }

    .positionSecondNumber {
      margin-left: 32px;
      margin-top: 21px;
      margin-bottom: 24px;
      color: #454EDB;
    }

    .titleText {
      font-family: SfUiDisplayRegular;
      font-size: 19pt;
    }

    .especialidadText {
      font-family: SfUiDisplaySemiBold;
      font-size: 12pt;
    }

    .tableStyle {
      width: 716px;
      height: 380px;
      background-color: white;
      border-radius: 10px;
      margin-left: 25px;
      box-shadow: 1px 2px 4px rgba(0, 0, 0, .2);
    }

    .firstArrow {
      margin-left: 293px;
    }

    .secondArrow {
      margin-left: 374px;
    }

    .thirdArrow {
      margin-left: 454px;
    }

    .nextButton {
      border-radius: 20px;
      width: 160px;
      height: 48px;
      left: 50%;
      margin-left: -80px;
      background-color: #454EDB;
      font-family: SfUiDisplayRegular;
      font-size: 16pt;
    }

    .selectSize {
      width: 240px;
      height: 35px;
    }

    .clinicName {
      font-size: 20pt;
      font-family: SfUiDisplayBold;
      color: #454EDB;
    }

    .clinicAddress {
      font-family: SfUiDisplayRegular;
      font-size: 20pt;
      color: #454EDB;
    }

    .especialidadTitle {
      font-family: SfUiDisplayBold;
      font-size: 17pt;
      color: black;
    }

    .especialidadDesc {
      font-family: SfUiDisplayLight;
      font-size: 20pt;
      color: black;
    }

    .paddingLeft {
      padding-left: 17px;
    }

    .confirmButton {
      border-radius: 20px;
      width: 260px;
      height: 48px;
      left: 50%;
      margin-left: -124px;
      background-color: #00B901;
      font-family: SfUiDisplayRegular;
      font-size: 17pt;
    }

    .logoPosition {
      margin-left: -40px;
    }
  }

</style>
