page-reserva {
  .item-ios {
    background-color: transparent;
  }

  .item-ios.item-block .item-inner {
    border-bottom: none;
  }

  .range-ios-secondary .range-bar-active,
  .range-ios-secondary .range-tick-active {
    background: #3740C3;
  }

  .Event {
    font-size: 11px;
  }

}
