<div *ngIf="showBack" id="backBlackReserva" style="position: absolute; background-color: black; opacity: 0.7; top:0px; left:0px; width: 100%; height: 100%; z-index: 101; transition: all 0.2s linear;"></div>
<ion-content class="" style="background-color: #F9F9F9; top:0px; left:0px; width: 100%; height: 100%;">
  <ion-grid style="padding: 0;">
    <ion-grid style="text-align: center; padding: 0; z-index: 3;">
      <table>
        <tr style="background-color: #3740C3; height: 63px;">
          <td colspan="3" style="vertical-align: bottom;"><img src="../assets/icon/logo-blanco.png" style="width: 26%;"></td>
        </tr>
        <tr class="heightBlue" style="background-color: #454EDB;">
          <td colspan="3" class="categoryStyle">Reservas</td>
        </tr>
        <tr>
          <table style="width:100%;">
            <tr>
              <td>
                <div style="display: flex;">
                  <div style="width: 50%;" (click)="showCalendarTab()">
                    <p class="tabsText" [ngClass]="showCalendar ? 'borderTab' : 'noBorderTab'">Calendario</p>
                  </div>
                  <div style="width: 50%;" (click)="noShowCalendarTab()">
                    <p class="tabsText" [ngClass]="!showCalendar ? 'borderTab' : 'noBorderTab'">Listado</p>
                  </div>
                </div>
              </td>
            </tr>
          </table>
        </tr>
        <tr *ngIf="showCalendar">
          <td padding class="resultsPos">
            <table>
              <tr>
                <td>
                  <ion-calendar *ngIf="options.daysConfig.length > 0" [(ngModel)]="date"
                                [options] = options
                                (onChange)="showDayEvents($event)"
                                [type]="type"
                                [format]="'YYYY-MM-DD'">
                  </ion-calendar>
                </td>
              </tr>
              <tr>
                <td><br></td>
              </tr>
              <tr>
                <td>
                    <div *ngIf="appointments.length > 0" style="">
                      <div *ngFor="let appoint of appointments; let i = index" class="cardStyles">
                        <div class="cardCrossCalendar" *ngIf="appoint.state == 1 && !appoint.datePosition" (click)="cancelTurno(appoint.id, appoint.rubro);">X</div>
                        <div class="cardTitle"><span>{{appoint.clinica}}</span> <span *ngIf="appoint.state == 2" class="cardCancel">- Cancelado</span></div>
                        <div class="cardSub">{{appoint.subspecialty}} - {{appoint.date}}</div>
                      </div>
                    </div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr *ngIf="!showCalendar"><br></tr>
        <tr *ngIf="!showCalendar">
          <td>
            <div *ngFor="let key of objectKeys(appointmentsListado);">
              <div *ngFor="let appoint of appointmentsListado[key]" class="cardStyles">
                <div class="cardCross" *ngIf="appoint.state == 1" (click)="cancelTurno(appoint.id, appoint.rubro);">X</div>
                <div class="cardTitle"><span>{{appoint.clinic}}</span> <span *ngIf="appoint.state == 2" class="cardCancel">- Cancelado</span></div>
                <div class="cardFecha">Fecha: {{appoint.date}}</div>
                <div class="cardHour">Horario: {{appoint.hour}}</div>
                <div class="cardSub">Reserva: {{appoint.subspeciality}}</div>
              </div>
            </div>
          </td>
        </tr>
        <tr *ngIf="options.daysConfig.length == 0 && !isSearching" class="infoButton">No tiene turnos en este momento</tr>
      </table>
      <div *ngIf="isSearching" style="width: 50%; text-align: center; top: 50%; position: absolute; left: 50%; margin-left: -25%;">
        <div class=""><img src="/assets/icon/loader.gif" style="width: 50%;" /></div>
      </div>
    </ion-grid>
  </ion-grid>
</ion-content>

<style>
  .verticalTop {
    vertical-align: top;
    padding-right: 12px;
    padding: 0 !important;
  }

  .small {
    font-size: 69%;
  }

  .borderTab {
    background-color: white;
    border: 2px solid #DCDCDC;
  }
  .noBorderTab {
    background-color: #F4F4F4;
    border: 2px solid #DCDCDC;
  }

  .cardStyles {
    background-color: white;
    width: 90%;
    margin-left: 5%;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.15);
    margin-bottom: 15px;
  }

  @media screen and (max-width: 320px) {
    .resultsPos {
    }
    .centerInfo {
      width: 158px;
    }
    .centerName {
      font-size: 15pt;
      text-align: left;
    }
    .topInfo {
      width: 78px;
    }
    .imageLogo {
      max-width: 58px;
      border-radius: 6px;
    }
    .scoreSize {
      width: 25px;
      display: inline-table;
      text-align: center;
      height: 19px;
      border: none;
      border-radius: 4px;
    }
    tr.spaceUnder>td {
      padding-bottom: 8px;
    }
    .heightBlue {
      height: 66px;
    }
    .infoButton {
      border-radius: 17px;
      width: 84px;
      height: 26px;
      background-color: transparent;
      font-family: SfUiDisplayRegular;
      font-size: 12pt;
      color: black;
    }
    .cityText {
      font-size: 10pt;
      text-align: left;
    }
    .starFont {
      font-size: 1.2em;
    }
    .categoryStyle {
      color: white;
      font-family: SfUiDisplayThin;
      font-size: 16pt;
    }
    .iconsFont {
      font-size: 41px;
      width: 50px;
    }
    .cardTitle {
      padding-bottom: 10px;
      text-align: left;
      font-family: SfUiDisplaySemiBold;
      font-size: 16pt;
      padding-left: 12px;
      padding-top: 12px;
    }
    .cardFecha {
      padding-bottom: 10px;
      text-align: left;
      font-family: SfUiDisplayLight;
      font-size: 11pt;
      margin-top: 7px;
      padding-left: 12px;
    }
    .cardHour {
      padding-bottom: 10px;
      text-align: left;
      font-family: SfUiDisplayLight;
      font-size: 11pt;
      margin-bottom: 7px;
      padding-left: 12px;
    }
    .cardSub {
      padding-bottom: 10px;
      text-align: left;
      font-family: SfUiDisplayMedium;
      font-size: 11pt;
      color: #454EDB;
      padding-left: 12px;
      padding-bottom: 12px;
    }
    .cardCross {
      text-align: right;
      padding-top: 10px;
      color: red;
      position: absolute;
      float: right;
      width: 87%;
      font-family: SfUiDisplaySemiBold;
    }
    .cardCrossCalendar {
      text-align: right;
      padding-top: 10px;
      color: red;
      position: absolute;
      float: right;
      width: 78%;
      font-family: SfUiDisplaySemiBold;
    }
    .tabsText {
      font-family: SfUiDisplayThin;
      font-size: 15pt;
      color: #454EDB;
      margin: 0;
      width: 100%;
      height: 45px;
      padding-top: 7px;
    }
    .cardCancel {
      font-family: SfUiDisplayThin;
      font-size: 10pt;
    }
  }

    @media screen and (max-width: 400px) and (min-width: 321px) {
    .resultsPos {
    }
    .centerInfo {
      width: 154px;
    }
    .centerName {
      font-size: 15pt;
      text-align: left;
    }
    .topInfo {
      width: 100px;
    }
    .imageLogo {
      max-width: 63px;
      border-radius: 6px;
    }
    .scoreSize {
      width: 32px;
      display: inline-table;
      text-align: center;
      height: 19px;
      border: none;
      border-radius: 4px;
    }
    tr.spaceUnder>td {
      padding-bottom: 8px;
    }
    .heightBlue {
      height: 73px;
    }
    .infoButton {
      border-radius: 17px;
      width: 108px;
      height: 28px;
      background-color: transparent;
      font-family: SfUiDisplayRegular;
      font-size: 15pt;
      color: black;
    }
    .cityText {
      font-size: 10pt;
      text-align: left;
    }
    .starFont {
      font-size: 1.2em;
    }
    .categoryStyle {
      color: white;
      font-family: SfUiDisplayThin;
      font-size: 18pt;
    }
    .iconsFont {
      font-size: 41px;
      width: 50px;
    }
    .cardTitle {
      padding-bottom: 10px;
      text-align: left;
      font-family: SfUiDisplaySemiBold;
      font-size: 16pt;
      padding-left: 12px;
      padding-top: 12px;
    }
    .cardFecha {
      padding-bottom: 10px;
      text-align: left;
      font-family: SfUiDisplayLight;
      font-size: 11pt;
      margin-top: 7px;
      padding-left: 12px;
    }
    .cardHour {
      padding-bottom: 10px;
      text-align: left;
      font-family: SfUiDisplayLight;
      font-size: 11pt;
      margin-bottom: 7px;
      padding-left: 12px;
    }
    .cardSub {
      padding-bottom: 10px;
      text-align: left;
      font-family: SfUiDisplayMedium;
      font-size: 11pt;
      color: #454EDB;
      padding-left: 12px;
      padding-bottom: 12px;
    }
    .cardCross {
      text-align: right;
      padding-top: 10px;
      color: red;
      position: absolute;
      float: right;
      width: 87%;
      font-family: SfUiDisplaySemiBold;
    }
    .cardCrossCalendar {
      text-align: right;
      padding-top: 10px;
      color: red;
      position: absolute;
      float: right;
      width: 78%;
      font-family: SfUiDisplaySemiBold;
    }
    .tabsText {
      font-family: SfUiDisplayThin;
      font-size: 15pt;
      color: #454EDB;
      margin: 0;
      width: 100%;
      height: 45px;
      padding-top: 7px;
    }
    .cardCancel {
      font-family: SfUiDisplayThin;
      font-size: 11pt;
    }
  }

  @media screen and (max-width: 450px) and (min-width: 400px) {
    .resultsPos {
    }
    .centerInfo {
      width: 150px;
    }
    .centerName {
      font-size: 15pt;
      text-align: left;
    }
    .topInfo {
      width: 125px;
    }
    .imageLogo {
      max-width: 100px;
      border-radius: 6px;
    }
    .scoreSize {
      width: 32px;
      display: inline-table;
      text-align: center;
      height: 19px;
      border: none;
      border-radius: 4px;
    }
    tr.spaceUnder>td {
      padding-bottom: 8px;
    }
    .heightBlue {
      height: 72px;
    }
    .infoButton {
      border-radius: 17px;
      width: 119px;
      height: 30px;
      background-color: transparent;
      font-family: SfUiDisplayRegular;
      font-size: 16pt;
      color: black;
    }
    .cityText {
      font-size: 10pt;
      text-align: left;
    }
    .starFont {
      font-size: 1.2em;
    }
    .categoryStyle {
      color: white;
      font-family: SfUiDisplayThin;
      font-size: 20pt;
    }
    .iconsFont {
      font-size: 41px;
      width: 50px;
    }
    .cardTitle {
      padding-bottom: 10px;
      text-align: left;
      font-family: SfUiDisplaySemiBold;
      font-size: 16pt;
      padding-left: 12px;
      padding-top: 12px;
    }
    .cardFecha {
      padding-bottom: 10px;
      text-align: left;
      font-family: SfUiDisplayLight;
      font-size: 11pt;
      margin-top: 7px;
      padding-left: 12px;
    }
    .cardHour {
      padding-bottom: 10px;
      text-align: left;
      font-family: SfUiDisplayLight;
      font-size: 11pt;
      margin-bottom: 7px;
      padding-left: 12px;
    }
    .cardSub {
      padding-bottom: 10px;
      text-align: left;
      font-family: SfUiDisplayMedium;
      font-size: 11pt;
      color: #454EDB;
      padding-left: 12px;
      padding-bottom: 12px;
    }
    .cardCross {
      text-align: right;
      padding-top: 10px;
      color: red;
      position: absolute;
      float: right;
      width: 87%;
      font-family: SfUiDisplaySemiBold;
    }
    .cardCrossCalendar {
      text-align: right;
      padding-top: 10px;
      color: red;
      position: absolute;
      float: right;
      width: 78%;
      font-family: SfUiDisplaySemiBold;
    }
    .tabsText {
      font-family: SfUiDisplayThin;
      font-size: 16pt;
      color: #454EDB;
      margin: 0;
      width: 100%;
      height: 45px;
      padding-top: 7px;
    }
    .cardCancel {
      font-family: SfUiDisplayThin;
      font-size: 11pt;
    }
  }

  @media screen and (max-width: 550px) and (min-width: 450px) {
    .resultsPos {
    }
    .centerInfo {
      width: 175px;
    }
    .centerName {
      font-size: 19pt;
      text-align: left;
    }
    .topInfo {
      width: 130px;
    }
    .imageLogo {
      max-width: 125px;
      border-radius: 6px;
    }
    .scoreSize {
      width: 32px;
      display: inline-table;
      text-align: center;
      height: 19px;
      border: none;
      border-radius: 4px;
      font-size: 14pt;
    }
    tr.spaceUnder>td {
      padding-bottom: 8px;
    }
    .heightBlue {
      height: 82px;
    }
    .infoButton {
      border-radius: 17px;
      width: 151px;
      height: 30px;
      background-color: transparent;
      font-family: SfUiDisplayRegular;
      font-size: 18pt;
      color: black;
    }
    .cityText {
      font-size: 13pt;
      text-align: left;
    }
    .starFont {
      font-size: 19px;
    }
    .categoryStyle {
      color: white;
      font-family: SfUiDisplayThin;
      font-size: 20pt;
    }
    .iconsFont {
      font-size: 41px;
      width: 50px;
    }
    .cardTitle {
      padding-bottom: 10px;
      text-align: left;
      font-family: SfUiDisplaySemiBold;
      font-size: 18pt;
      padding-left: 12px;
      padding-top: 12px;
    }
    .cardFecha {
      padding-bottom: 10px;
      text-align: left;
      font-family: SfUiDisplayLight;
      font-size: 13pt;
      margin-top: 7px;
      padding-left: 12px;
    }
    .cardHour {
      padding-bottom: 10px;
      text-align: left;
      font-family: SfUiDisplayLight;
      font-size: 13pt;
      margin-bottom: 7px;
      padding-left: 12px;
    }
    .cardSub {
      padding-bottom: 10px;
      text-align: left;
      font-family: SfUiDisplayMedium;
      font-size: 13pt;
      color: #454EDB;
      padding-left: 12px;
      padding-bottom: 12px;
    }
    .cardCross {
      text-align: right;
      padding-top: 10px;
      color: red;
      position: absolute;
      float: right;
      width: 87%;
      font-family: SfUiDisplaySemiBold;
      font-size: 14pt;
    }
    .cardCrossCalendar {
      text-align: right;
      padding-top: 10px;
      color: red;
      position: absolute;
      float: right;
      width: 81%;
      font-family: SfUiDisplaySemiBold;
      font-size: 14pt;
    }
    .tabsText {
      font-family: SfUiDisplayThin;
      font-size: 17pt;
      color: #454EDB;
      margin: 0;
      width: 100%;
      height: 48px;
      padding-top: 7px;
    }
    .cardCancel {
      font-family: SfUiDisplayThin;
      font-size: 13pt;
    }
  }

  @media screen and (max-width: 1100px) and (min-width: 550px) {
    .resultsPos {
    }
    .centerInfo {
      width: 250px;
    }
    .centerName {
      font-size: 29pt;
      text-align: left;
    }
    .topInfo {
      width: 246px;
    }
    .imageLogo {
      max-width: 225px;
      border-radius: 6px;
    }
    .scoreSize {
      width: 32px;
      display: inline-table;
      text-align: center;
      height: 19px;
      border: none;
      border-radius: 4px;
      font-size: 20pt;
    }
    tr.spaceUnder>td {
      padding-bottom: 8px;
    }
    .heightBlue {
      height: 113px;
    }
    .infoButton {
      border-radius: 17px;
      width: 226px;
      height: 47px;
      background-color: transparent;
      font-family: SfUiDisplayRegular;
      font-size: 24pt;
      color: black;
    }
    .cityText {
      font-size: 18pt;
      text-align: left;
    }
    .starFont {
      font-size: 28.5px;
    }
    .categoryStyle {
      color: white;
      font-family: SfUiDisplayThin;
      font-size: 33pt;
    }
    .iconsFont {
      font-size: 41px;
      width: 50px;
    }
    .cardTitle {
      padding-bottom: 10px;
      text-align: left;
      font-family: SfUiDisplaySemiBold;
      font-size: 24pt;
      padding-left: 12px;
      padding-top: 12px;
    }
    .cardFecha {
      padding-bottom: 10px;
      text-align: left;
      font-family: SfUiDisplayLight;
      font-size: 19pt;
      margin-top: 7px;
      padding-left: 12px;
    }
    .cardHour {
      padding-bottom: 10px;
      text-align: left;
      font-family: SfUiDisplayLight;
      font-size: 19pt;
      margin-bottom: 7px;
      padding-left: 12px;
    }
    .cardSub {
      padding-bottom: 10px;
      text-align: left;
      font-family: SfUiDisplayMedium;
      font-size: 19pt;
      color: #454EDB;
      padding-left: 12px;
      padding-bottom: 12px;
    }
    .cardCross {
      text-align: right;
      padding-top: 10px;
      color: red;
      position: absolute;
      float: right;
      width: 87%;
      font-family: SfUiDisplaySemiBold;
      font-size: 18pt;
    }
    .cardCrossCalendar {
      text-align: right;
      padding-top: 10px;
      color: red;
      position: absolute;
      float: right;
      width: 81%;
      font-family: SfUiDisplaySemiBold;
      font-size: 18pt;
    }
    .tabsText {
      font-family: SfUiDisplayThin;
      font-size: 22pt;
      color: #454EDB;
      margin: 0;
      width: 100%;
      height: 57px;
      padding-top: 7px;
    }
    .cardCancel {
      font-family: SfUiDisplayThin;
      font-size: 17pt;
    }
  }
</style>
