<ion-content class="" style="background-color: #F9F9F9; top:0px; left:0px; width: 100%; height: 100%;">
  <ion-grid style="padding: 0;">
    <div style="position: absolute; background-color: #454EDB; top:0px; left:0px; width: 100%; z-index: 2;" class="heightBlue"></div>
    <ion-grid style="text-align: center; padding: 0; z-index: 3;">
      <table>
        <tr style="background-color: #3740C3; height: 63px;">
          <td style="width: 20px;">
            <ion-navbar>
              <button ion-button menuToggle>
                <ion-icon name="menu"></ion-icon>
              </button>
            </ion-navbar>
          </td>
          <td colspan="3" style="vertical-align: bottom;"><img class="logoPosition" src="../assets/icon/logo-blanco.png" style="width: 26%;"></td>
        </tr>
        <tr>
          <td colspan="2" class="reservaText">¿Qué vas a reservar hoy?</td>
        </tr>
        <tr><br></tr>
        <tr>
          <td colspan="2" padding class="formPos" style="z-index: 3;">
            <form style="font-family: SfUiDisplayLight; font-size: 10pt;">
              <ion-item no-lines style="text-align: center; background-color: white; border-radius: 10px;" class="backCat">
                <span class="titlesCss">CATEGORÍA</span>
                <select id="categorySelect" name="categorySelect" style="background-color:transparent;
              -webkit-box-shadow: none !important; -moz-box-shadow: none !important; width: 170px; height: 35px;" [(ngModel)]="category">
                  <option value="medicina">Medicina</option>
                  <option value="esteticas">Esteticas</option>
                  <option value="restaurantes">Restaurantes</option>
                  <option value="futbol">Canchas de Fútbol</option>
                  <option value="tenis">Canchas de Tennis</option>
                  <option value="lubricentros">Lubricentros</option>
                </select>
              </ion-item>
              <ion-item no-lines class="separator">
                <span class="titlesCss">UBICACIÓN</span>
                <select id="positionSelect" name="positionSelect" style="background-color:transparent;
              -webkit-box-shadow: none !important; -moz-box-shadow: none !important; width: 170px; height: 35px;" [(ngModel)]="place">
                  <option value="">¿Dónde?</option>
                  <option *ngFor="let cat of categories; let i = index" value="{{cat.id}}">
                    {{cat.text}}
                  </option>
                </select>
              </ion-item>
              <ion-item no-lines class="separatorFecha">
                <span class="titlesCss marginLeftFecha">FECHA</span>
                <select id="dateSelect" name="dateSelect" [(ngModel)]="when" style="background-color:transparent;
              -webkit-box-shadow: none !important; -moz-box-shadow: none !important; height: 35px;" class="widthFecha">
                  <option value="">¿Cuando?</option>
                  <option value="7">Próximos 7 días</option>
                  <option value="14">Próximos 14 días</option>
                  <option *ngFor="let day of days" value="{{day.value}}">{{day.name}}</option>
                </select>
              </ion-item>
              <div class="separatorButton">
                <button color="button-color" ion-button full type="submit" style="border-radius: 30px; width: 160px; height: 48px; left: 50%; margin-left: -80px; background-color: #454EDB; font-family: SfUiDisplayRegular; font-size: 10pt;" (click)="search()">BUSCAR</button>
              </div>

            </form>
            <table align="center">
            </table>
          </td>
        </tr>
      </table>
    </ion-grid>
  </ion-grid>
</ion-content>

<style>
  .formPos {
  }
  .heightBlue {
    height: 250px;
  }

  @media screen and (max-width: 320px) {
    .formPos {
      padding: 0px !important;
    }
    .separator {
      margin-top: 9%;
      background-color: transparent;
      padding-top: 24px;
      border-top: 1px #dedede solid;
      text-align: center;
    }
    .separatorFecha {
      margin-top: 4%;
      background-color: transparent;
      padding-top: 18px;
      border-top: 1px #dedede solid;
      text-align: center;
    }
    .backCat {
      width: 97%;
      margin-left: 6px;
      box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.10);
    }
    .separatorButton {
      padding-top: 27px;
    }
    .heightBlue {
      height: 165px;
    }
    .reservaText {
      color: white;
      font-family: SfUiDisplayThin;
      font-size: 16pt;
      padding-top: 19px;
      padding-bottom: 9px;
    }
    .titlesCss {
      margin-right: 10px;
      font-family: SfUiDisplaySemiBold;
      font-size: 14px;
    }
    .marginLeftFecha {
      margin-left: 2px;
    }
    .widthFecha {
      width: 200px;
    }
    .logoPosition {
      margin-left: -40px;
    }
  }

    @media screen and (max-width: 400px) and (min-width: 321px) {
    .formPos {
    }
    .separator {
      margin-top: 9%;
      background-color: transparent;
      padding-top: 18px;
      border-top: 1px #dedede solid;
      text-align: center;
    }
    .separatorFecha {
      margin-top: 4%;
      background-color: transparent;
      padding-top: 18px;
      border-top: 1px #dedede solid;
      text-align: center;
    }
    .separatorButton {
      padding-top: 45px;
    }
    .backCat {
      width: 97%;
      margin-left: 6px;
      height: 74px;
      box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.10);
    }
    .heightBlue {
      height: 192px;
    }
    .reservaText {
      color: white;
      font-family: SfUiDisplayThin;
      font-size: 16pt;
      padding-top: 30px;
    }
    .titlesCss {
      margin-right: 10px;
      font-family: SfUiDisplaySemiBold;
      font-size: 14px;
    }
    .marginLeftFecha {
      margin-left: 5px;
    }
    .widthFecha {
      width: 196px;
    }
    .logoPosition {
      margin-left: -40px;
    }
  }

  @media screen and (max-width: 450px) and (min-width: 400px) {
    .formPos {
    }
    .separator {
      margin-top: 9%;
      background-color: transparent;
      padding-top: 18px;
      border-top: 1px #dedede solid;
      text-align: center;
    }
    .separatorFecha {
      margin-top: 6%;
      background-color: transparent;
      padding-top: 18px;
      border-top: 1px #dedede solid;
      text-align: center;
    }
    .separatorButton {
      padding-top: 65px;
    }
    .backCat {
      width: 97%;
      margin-left: 6px;
      box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.10);
    }
    .heightBlue {
      height: 190px;
    }
    .reservaText {
      color: white;
      font-family: SfUiDisplayThin;
      font-size: 19pt;
      padding-top: 30px;
    }
    .titlesCss {
      margin-right: 10px;
      font-family: SfUiDisplaySemiBold;
      font-size: 14px;
    }
    .marginLeftFecha {
    }
    .widthFecha {
      width: 200px;
    }
    .logoPosition {
      margin-left: -40px;
    }
  }

  @media screen and (max-width: 550px) and (min-width: 450px) {
    .formPos {
    }
    .separator {
      margin-top: 9%;
      background-color: transparent;
      padding-top: 24px;
      border-top: 1px #dedede solid;
      text-align: center;
    }
    .separatorFecha {
      margin-top: 5%;
      background-color: transparent;
      padding-top: 21px;
      border-top: 1px #dedede solid;
      text-align: center;
    }
    .separatorButton {
      padding-top: 37px;
    }
    .backCat {
      width: 97%;
      margin-left: 6px;
      box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.10);
    }
    .heightBlue {
      height: 190px;
    }
    .reservaText {
      color: white;
      font-family: SfUiDisplayThin;
      font-size: 20pt;
      padding-top: 30px;
    }
    .titlesCss {
      margin-right: 10px;
      font-family: SfUiDisplaySemiBold;
      font-size: 14px;
    }
    .marginLeftFecha {
    }
    .widthFecha {
      width: 200px;
    }
    .logoPosition {
      margin-left: -40px;
    }
  }

  @media screen and (max-width: 1100px) and (min-width: 550px) {
    .formPos {
    }
    .separator {
      margin-top: 5%;
      background-color: transparent;
      padding-top: 24px;
      border-top: 1px #dedede solid;
      text-align: center;
      padding-left: 0px;
    }
    .separatorFecha {
      margin-top: 3%;
      background-color: transparent;
      padding-top: 27px;
      border-top: 1px #dedede solid;
      text-align: center;
      padding-left: 0px;
    }
    .separatorButton {
      padding-top: 40px;
    }
    .backCat {
      width: 97%;
      margin-left: 6px;
      box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.10);
    }
    .heightBlue {
      height: 219px;
    }
    .reservaText {
      color: white;
      font-family: SfUiDisplayThin;
      font-size: 28pt;
      padding-top: 40px;
    }
    .titlesCss {
      margin-right: 10px;
      font-family: SfUiDisplaySemiBold;
      font-size: 14px;
    }
    .marginLeftFecha {
    }
    .widthFecha {
      width: 200px;
    }
    .logoPosition {
      margin-left: -40px;
    }
  }
</style>
