<ion-header>
  <ion-navbar color="primary">
    <ion-title mode="ios">
      <img src="assets/icon/logo-blanco.png" height="30" alt="Todo Reservas Logo">
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <h2 text-center class="font-thin title">¿Qué vas a reservar hoy?</h2>
  <ion-grid>
    <ion-row>
      <ion-col col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3>
        <ion-row>
          <ion-col col-12 text-center>
            <ion-card>
              <ion-item>
                <ion-label class="font-semibold">CATEGORÍA</ion-label>
                <ion-select class="font-light" [(ngModel)]="category" interface="popover">
                  <ion-option value="medicina">Medicina</ion-option>
                  <ion-option value="peluquerias">Peluquerías</ion-option>
                  <ion-option value="barberias">Barberias</ion-option>
                  <ion-option value="esteticas">Estéticas</ion-option>
                </ion-select>
              </ion-item>
            </ion-card>
            <ion-item no-lines>
              <ion-label class="font-semibold">UBICACIÓN</ion-label>
              <ion-select class="font-light" [(ngModel)]="place" interface="popover" placeholder="¿Dónde?">
                <ion-option *ngFor="let cat of categories; let i = index" value="{{cat.id}}">{{cat.text}}</ion-option>
              </ion-select>
            </ion-item>
            <ion-item no-lines>
              <ion-label class="font-semibold">FECHA</ion-label>
              <ion-select class="font-light" [(ngModel)]="when" interface="popover" placeholder="¿Cuándo?">
                <ion-option value="7">Próximos 7 días</ion-option>
                <ion-option value="14">Próximos 14 días</ion-option>
                <ion-option *ngFor="let day of days; let i = index" value="{{day.value}}">{{day.name}}</ion-option>
              </ion-select>
            </ion-item>
            <button class="font-regular" color="primary" ion-button round (click)="search()">BUSCAR</button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>