<ion-content class="" style="background: transparent;">
  <ion-grid style="width: 100%; height: 100%; z-index: 1;"></ion-grid>
  <ion-grid class="modal">
    <ion-grid style="text-align: center; padding: 0; padding-right: 6px; padding-left: 6px;">
      <table style="width: 100%;">
        <tr><br></tr>
        <tr>
          <td colspan="2" class="titleFirst">Seleccione profesional y horario</td>
        </tr>
        <tr><br></tr>
        <tr *ngIf="!isFirst || doctor == null" style="border-bottom: 1px grey solid; text-align: left;">
          <td class="medico">Profesional</td>
          <td class="selectSize">
            <select style="background-color:transparent;
              -webkit-box-shadow: none !important; -moz-box-shadow: none !important;" class="selectSize" [(ngModel)]="doctor" (change)="searchHours($event.target.value);">
              <option value=""></option>
              <option *ngFor="let doctor of doctors; let i = index" value="{{doctor.id}}">{{doctor.firstName}} {{doctor.lastName}}</option>
            </select>
          </td>
        </tr>
        <tr style="border-bottom: 1px grey solid; text-align: left;">
          <td class="medico">Horario</td>
          <td class="selectSize">
            <select style="background-color:transparent;
              -webkit-box-shadow: none !important; -moz-box-shadow: none !important;" class="selectSize" [(ngModel)]="hour">
              <option value=""></option>
              <option *ngFor="let ho of hours; let i = index" value="{{ho}}">{{ho}}</option>
            </select>
          </td>
        </tr>
        <tr><br></tr>
        <tr><br></tr>
        <tr>
          <td colspan="2">
            <button color="button-color" ion-button full type="submit" class="nextButton" (click)="returnData()">ACEPTAR</button>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <button color="button-color" ion-button full type="submit" class="nextButtonCancel" (click)="cancelData()">CANCELAR</button>
          </td>
        </tr>
      </table>
    </ion-grid>
  </ion-grid>
</ion-content>

<style>

  @media screen and (max-width: 320px) {
    .titleFirst {
      font-family: SfUiDisplayLight;
      font-size: 14pt;
    }
    .medico {
      font-family: SfUiDisplayMedium;
      font-size: 12pt;
      line-height: 65px;
    }
    .modal {
      height: 347px;
      position: absolute;
      bottom: 0px;
      background: white;
      z-index: 2;
      width: 300px;
      top: 100px;
      left: 50%;
      margin-left: -150px;
      border-radius: 10px;
    }
    .nextButton {
      border-radius: 20px;
      width: 155px;
      height: 46px;
      left: 50%;
      margin-left: -80px;
      background-color: #00B901;
      font-family: SfUiDisplayRegular;
      font-size: 12pt;
    }
    .nextButtonCancel {
      border-radius: 20px;
      width: 155px;
      height: 46px;
      left: 50%;
      margin-left: -80px;
      background-color: #EA4140;
      font-family: SfUiDisplayRegular;
      font-size: 12pt;
    }
    .selectSize {
      width: 150px;
    }
  }

  @media screen and (max-width: 400px) and (min-width: 321px) {
    .titleFirst {
      font-family: SfUiDisplayLight;
      font-size: 14pt;
    }
    .medico {
      font-family: SfUiDisplayMedium;
      font-size: 12pt;
      line-height: 65px;
    }
    .modal {
      height: 347px;
      position: absolute;
      bottom: 0px;
      background: white;
      z-index: 2;
      width: 300px;
      top: 100px;
      left: 50%;
      margin-left: -150px;
      border-radius: 10px;
    }
    .nextButton {
      border-radius: 20px;
      width: 155px;
      height: 46px;
      left: 50%;
      margin-left: -80px;
      background-color: #00B901;
      font-family: SfUiDisplayRegular;
      font-size: 12pt;
    }
    .nextButtonCancel {
      border-radius: 20px;
      width: 155px;
      height: 46px;
      left: 50%;
      margin-left: -80px;
      background-color: #EA4140;
      font-family: SfUiDisplayRegular;
      font-size: 12pt;
    }
    .selectSize {
      width: 150px;
    }
  }

  @media screen and (max-width: 450px) and (min-width: 400px) {
    .titleFirst {
      font-family: SfUiDisplayLight;
      font-size: 14pt;
    }
    .medico {
      font-family: SfUiDisplayMedium;
      font-size: 12pt;
      line-height: 65px;
    }
    .modal {
      height: 347px;
      position: absolute;
      bottom: 0px;
      background: white;
      z-index: 2;
      width: 300px;
      top: 100px;
      left: 50%;
      margin-left: -150px;
      border-radius: 10px;
    }
    .nextButton {
      border-radius: 20px;
      width: 155px;
      height: 46px;
      left: 50%;
      margin-left: -80px;
      background-color: #00B901;
      font-family: SfUiDisplayRegular;
      font-size: 12pt;
    }
    .nextButtonCancel {
      border-radius: 20px;
      width: 155px;
      height: 46px;
      left: 50%;
      margin-left: -80px;
      background-color: #EA4140;
      font-family: SfUiDisplayRegular;
      font-size: 12pt;
    }
    .selectSize {
      width: 150px;
    }
  }

  @media screen and (max-width: 550px) and (min-width: 450px) {
    .titleFirst {
      font-family: SfUiDisplayLight;
      font-size: 14pt;
    }
    .medico {
      font-family: SfUiDisplayMedium;
      font-size: 12pt;
      line-height: 65px;
    }
    .modal {
      height: 347px;
      position: absolute;
      bottom: 0px;
      background: white;
      z-index: 2;
      width: 300px;
      top: 100px;
      left: 50%;
      margin-left: -150px;
      border-radius: 10px;
    }
    .nextButton {
      border-radius: 20px;
      width: 155px;
      height: 46px;
      left: 50%;
      margin-left: -80px;
      background-color: #00B901;
      font-family: SfUiDisplayRegular;
      font-size: 12pt;
    }
    .nextButtonCancel {
      border-radius: 20px;
      width: 155px;
      height: 46px;
      left: 50%;
      margin-left: -80px;
      background-color: #EA4140;
      font-family: SfUiDisplayRegular;
      font-size: 12pt;
    }
    .selectSize {
      width: 150px;
    }
  }

  @media screen and (max-width: 1100px) and (min-width: 550px) {
    .titleFirst {
      font-family: SfUiDisplayLight;
      font-size: 14pt;
    }
    .medico {
      font-family: SfUiDisplayMedium;
      font-size: 12pt;
      line-height: 65px;
    }
    .modal {
      height: 347px;
      position: absolute;
      bottom: 0px;
      background: white;
      z-index: 2;
      width: 300px;
      top: 100px;
      left: 50%;
      margin-left: -150px;
      border-radius: 10px;
    }
    .nextButton {
      border-radius: 20px;
      width: 155px;
      height: 46px;
      left: 50%;
      margin-left: -80px;
      background-color: #00B901;
      font-family: SfUiDisplayRegular;
      font-size: 12pt;
    }
    .nextButtonCancel {
      border-radius: 20px;
      width: 155px;
      height: 46px;
      left: 50%;
      margin-left: -80px;
      background-color: #EA4140;
      font-family: SfUiDisplayRegular;
      font-size: 12pt;
    }
    .selectSize {
      width: 150px;
    }
  }
</style>
