<div id="backBlack" style="position: absolute; background-color: black; opacity: 0; top:0px; left:0px; width: 100%; height: 100%; z-index: 101; visibility: hidden; transition: all 0.2s linear;"></div>
<ion-content class="" style="background-color: #F9F9F9; top:0px; left:0px; width: 100%; height: 100%;">
  <ion-grid style="padding: 0; height: 100%;">
    <div style="position: absolute; background-color: #454EDB; top:0px; left:0px; width: 100%; z-index: 2;" class="heightBlue"></div>
    <ion-grid style="text-align: center; padding: 0; z-index: 3; height: 100%;">
      <table id="data">
        <tr style="background-color: #3740C3; height: 63px;">
          <td colspan="3" style="vertical-align: bottom;"><img src="../assets/icon/logo-blanco.png" style="width: 30%;"></td>
        </tr>
        <tr><br></tr>
        <tr>
          <td colspan="3" class="categoryStyle">{{category}}</td>
        </tr>
        <tr><br></tr>
        <tr id="listadoTr">
          <td *ngIf="isListado" padding class="backOrdenar backOrdenarAndFiltrar" (click)="showOrder()" style="z-index: 3; font-family: SfUiDisplayLight;">
                <ion-icon span name="reorder" class="ordenarIcon"></ion-icon>
            <span style="display: table-cell; vertical-align: middle; color: #3740C3; text-align: left;" class="filterText">&nbsp;Ordenar</span></td>
            <td class="backOrdenar backOrdenarAndFiltrar">
                <ion-icon span name="funnel" class="ordenarIcon"></ion-icon>
              <span style="display: table-cell; vertical-align: middle; color: #3740C3; text-align: left;" class="filterText">&nbsp;Filtros</span></td>
                <td *ngIf="isListado" (click)="showMap()" class="backOrdenar"><ion-icon span name="pin" class="ordenarIcon"></ion-icon>
                <span style="display: table-cell; vertical-align: middle; color: #3740C3; text-align: left;" class="filterText">&nbsp;Ver Mapa</span></td>
          <td *ngIf="!isListado" (click)="showListado()" class="backOrdenar"><ion-icon span name="reorder" class="ordenarIcon"></ion-icon>
            <span style="display: table-cell; vertical-align: middle; color: #3740C3; text-align: left;" class="filterText">&nbsp;Ver Listado</span></td>
        </tr>
        <tr *ngIf="isListado">
          <td padding class="resultsPos">
            <div style="padding-bottom: 13px; margin-bottom: 13px; border-bottom: 1px grey solid;" *ngFor="let result of results; let i = index" (click)="goToClinicInfo(result.clinicId)">
              <table>
                <tr>
                  <td class="verticalTop topInfo" style="text-align: center;"><img class="imageLogo" src="{{result.logo}}"></td>
                  <td class="verticalTop centerInfo">
                    <table>
                      <tr class="spaceUnder">
                        <td style="font-family: SfUiDisplayMedium;" class="centerName">{{result.name}}</td>
                      </tr>
                      <tr class="spaceUnder cityText">
                        <td style="font-family: SfUiDisplayLight;"><ion-icon name="pin"></ion-icon> {{result.city}}</td>
                      </tr>
                      <tr style="text-align: left; font-family: SfUiDisplayRegular; color: #454EDB;" class="commentsSize">
                        <td *ngIf="result.ratings.length == 1">{{result.ratings.length}} comentario</td>
                        <td *ngIf="result.ratings.length == 0 || result.ratings.length > 1">{{result.ratings.length}} comentarios</td>
                      </tr>
                    </table>
                  </td>
                  <td class="verticalTop">
                    <table>
                      <tr>
                        <td><span style="background-color: #454EDB; color:white; vertical-align: middle;" class="scoreSize">
                          <p>{{result.score | number:'1.0-1'}}</p>
                        </span></td>
                      </tr>
                      <tr style="display: table;">
                        <td>
                          <ion-icon class="starFont" name="star" style="color: #FDD309;" *ngIf="((result.score*5) / 10) > 0"></ion-icon>
                          <ion-icon class="starFont" name="star" style="color: #FDD309;" *ngIf="((result.score*5) / 10) > 1"></ion-icon>
                          <ion-icon class="starFont" name="star" style="color: #FDD309;" *ngIf="((result.score*5) / 10) > 2"></ion-icon>
                          <ion-icon class="starFont" name="star" style="color: #FDD309;" *ngIf="((result.score*5) / 10) > 3"></ion-icon>
                          <ion-icon class="starFont" name="star" style="color: #FDD309;" *ngIf="((result.score*5) / 10) > 4"></ion-icon>
                          <ion-icon class="starFont" name="star-outline" style="color: #FDD309;" *ngIf="((result.score*5) / 10) <= 0"></ion-icon>
                          <ion-icon class="starFont" name="star-outline" style="color: #FDD309;" *ngIf="((result.score*5) / 10) <= 1"></ion-icon>
                          <ion-icon class="starFont" name="star-outline" style="color: #FDD309;" *ngIf="((result.score*5) / 10) <= 2"></ion-icon>
                          <ion-icon class="starFont" name="star-outline" style="color: #FDD309;" *ngIf="((result.score*5) / 10) <= 3"></ion-icon>
                          <ion-icon class="starFont" name="star-outline" style="color: #FDD309;" *ngIf="((result.score*5) / 10) <= 4"></ion-icon>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </div>
            <div *ngIf="showLoading" style="width: 100%; text-align: center;">
              <div class=""><img src="/assets/icon/loader.gif" style="width: 50%;" /></div>
            </div>
            <div style="text-align: center; margin-top: 10px; display: none;" id="verMasButton">
              <button style="background: #50ae20; color: #fff; border-radius: 50px; padding: 10px 3px; transition: all 0.3s ease-in-out; font-family: SfUiDisplaySemiBold; width: 150px;" (click)="search(true);">VER MÁS</button>
            </div>
          </td>
        </tr>
        <tr *ngIf="!isListado && infoName != null">
          <td class="info" style="z-index: 100;">
            <table>
              <tr>
                <td class="verticalTop topInfo" style="text-align: center;"><img class="imageLogo" src="{{infoLogo}}"></td>
                <td class="verticalTop centerInfo">
                  <table>
                    <tr class="spaceUnder">
                      <td style="font-family: SfUiDisplayMedium;" class="centerName">{{infoName}}</td>
                    </tr>
                    <tr class="spaceUnder cityText">
                      <td style="font-family: SfUiDisplayLight;"><ion-icon name="pin"></ion-icon> {{infoCity}}</td>
                    </tr>
                    <tr style="text-align: left; font-family: SfUiDisplayRegular; color: #454EDB;" class="commentsSize">
                      <td *ngIf="infoComments.length == 1">{{infoComments.length}} comentario</td>
                      <td *ngIf="infoComments.length == 0 || infoComments.length > 1">{{infoComments.length}} comentarios</td>
                    </tr>
                  </table>
                </td>
                <td class="verticalTop">
                  <table>
                    <tr>
                      <td><span style="background-color: #454EDB; color:white; vertical-align: middle;" class="scoreSize">
                          <p>{{infoRating | number:'1.0-1'}}</p>
                        </span></td>
                    </tr>
                    <tr style="display: table;">
                      <td>
                        <ion-icon class="starFont" name="star" style="color: #FDD309;" *ngIf="((infoRating*5) / 10) > 0"></ion-icon>
                        <ion-icon class="starFont" name="star" style="color: #FDD309;" *ngIf="((infoRating*5) / 10) > 1"></ion-icon>
                        <ion-icon class="starFont" name="star" style="color: #FDD309;" *ngIf="((infoRating*5) / 10) > 3"></ion-icon>
                        <ion-icon class="starFont" name="star" style="color: #FDD309;" *ngIf="((infoRating*5) / 10) > 4"></ion-icon>
                        <ion-icon class="starFont" name="star" style="color: #FDD309;" *ngIf="((infoRating*5) / 10) > 2"></ion-icon>
                        <ion-icon class="starFont" name="star-outline" style="color: #FDD309;" *ngIf="((infoRating*5) / 10) <= 0"></ion-icon>
                        <ion-icon class="starFont" name="star-outline" style="color: #FDD309;" *ngIf="((infoRating*5) / 10) <= 1"></ion-icon>
                        <ion-icon class="starFont" name="star-outline" style="color: #FDD309;" *ngIf="((infoRating*5) / 10) <= 2"></ion-icon>
                        <ion-icon class="starFont" name="star-outline" style="color: #FDD309;" *ngIf="((infoRating*5) / 10) <= 3"></ion-icon>
                        <ion-icon class="starFont" name="star-outline" style="color: #FDD309;" *ngIf="((infoRating*5) / 10) <= 4"></ion-icon>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr *ngIf="!isListado" style="height: 100%;">
          <td>
            <div id="map"></div>
          </td>
        </tr>
      </table>
    </ion-grid>
  </ion-grid>
</ion-content>

<style>
  .verticalTop {
    vertical-align: top;
    padding-right: 12px;
    padding: 0 !important;
  }

  @media screen and (max-width: 320px) {
    .resultsPos {
    }
    #map {
      width: 100%;
      height: 100%;
      opacity: 1;
      display: block;
      z-index: 5;
    }
    .info {
      position: absolute;
      top: 170px;
      left: 9px;
      background-color: white;
      border-radius: 10px;
      width: 303px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .backOrdenar {
      width: 96px;
      height: 34px;
      background-color: #FFFFFF;
      border-radius: 8px;
      left:50%;
      text-align: center;
      display: inline-table;
      box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    }
    .backOrdenarAndFiltrar {
      margin-right: 10px;
    }
    .ordenarIcon {
      margin-top: 8px;
      margin-left: 8px;
      color: rgb(69 78 219);
    }
    .filterText {
      font-size: 10.5pt;
    }
    .centerInfo {
      width: 117px;
    }
    .centerName {
      font-size: 15pt;
      text-align: left;
    }
    .topInfo {
      width: 78px;
    }
    .imageLogo {
      max-width: 58px;
      border-radius: 6px;
    }
    .scoreSize {
      width: 43px;
      display: inline-table;
      text-align: center;
      height: 19px;
      border: none;
      border-radius: 4px;
      font-size: 10pt;
      font-family: SfUiDisplayBold;
    }
    .commentsSize {
      font-size: 14px;
    }
    tr.spaceUnder>td {
      padding-bottom: 8px;
    }
    .heightBlue {
      height: 145px;
    }
    .reservarButton {
      border-radius: 17px;
      width: 84px;
      height: 26px;
      background-color: #00B901;
      font-family: SfUiDisplayRegular;
      font-size: 9pt;
      box-shadow: none;
    }
    .infoButton {
      border-radius: 17px;
      width: 84px;
      height: 26px;
      background-color: transparent;
      font-family: SfUiDisplayRegular;
      font-size: 9pt;
      color: #3740C3;
      border-color: #3740C3;
      border: 1px solid;
      box-shadow: none;
    }
    .cityText {
      font-size: 10pt;
      text-align: left;
    }
    .starFont {
      font-size: 1.2em;
    }
    .categoryStyle {
      color: white;
      font-family: SfUiDisplayThin;
      font-size: 20pt;
    }
  }

    @media screen and (max-width: 400px) and (min-width: 321px) {
    .resultsPos {
    }
    #map {
      width: 100%;
      height: 100%;
      opacity: 1;
      display: block;
      z-index: 5;
    }
    .info {
      position: absolute;
      top: 172px;
      left: 15px;
      background-color: white;
      border-radius: 10px;
      width: 342px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .backOrdenar {
      width: 96px;
      height: 34px;
      background-color: #FFFFFF;
      border-radius: 8px;
      left:50%;
      text-align: center;
      display: inline-table;
      box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    }
    .backOrdenarAndFiltrar {
      margin-right: 10px;
    }
    .ordenarIcon {
      margin-top: 8px;
      margin-left: 8px;
      color: rgb(69 78 219);
    }
    .filterText {
      font-size: 10.5pt;
    }
    .centerInfo {
      width: 147px;
    }
    .centerName {
      font-size: 15pt;
      text-align: left;
    }
    .topInfo {
      width: 100px;
    }
    .imageLogo {
      max-width: 63px;
      border-radius: 6px;
    }
    .scoreSize {
      width: 48px;
      display: inline-table;
      text-align: center;
      height: 19px;
      border: none;
      border-radius: 4px;
      font-size: 12pt;
      font-family: SfUiDisplayBold;
    }
    .commentsSize {
      font-size: 14px;
    }
    tr.spaceUnder>td {
      padding-bottom: 8px;
    }
    .heightBlue {
      height: 147px;
    }
    .reservarButton {
      border-radius: 17px;
      width: 108px;
      height: 28px;
      background-color: #00B901;
      font-family: SfUiDisplayRegular;
      font-size: 10pt;
      box-shadow: none;
    }
    .infoButton {
      border-radius: 17px;
      width: 108px;
      height: 28px;
      background-color: transparent;
      font-family: SfUiDisplayRegular;
      font-size: 10pt;
      color: #3740C3;
      border-color: #3740C3;
      border: 1px solid;
      box-shadow: none;
    }
    .cityText {
      font-size: 10pt;
      text-align: left;
    }
    .starFont {
      font-size: 1.2em;
    }
    .categoryStyle {
      color: white;
      font-family: SfUiDisplayThin;
      font-size: 20pt;
    }
  }

  @media screen and (max-width: 450px) and (min-width: 400px) {
    .resultsPos {
    }
    #map {
      width: 100%;
      height: 100%;
      opacity: 1;
      display: block;
      z-index: 5;
    }
    .info {
      position: absolute;
      top: 172px;
      left: 15px;
      background-color: white;
      border-radius: 10px;
      width: 384px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .backOrdenar {
      width: 113px;
      height: 37px;
      background-color: #FFFFFF;
      border-radius: 8px;
      left:50%;
      text-align: center;
      display: inline-table;
      box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    }
    .backOrdenarAndFiltrar {
      margin-right: 10px;
    }
    .ordenarIcon {
      margin-top: 8px;
      margin-left: 8px;
      color: rgb(69 78 219);
    }
    .filterText {
      font-size: 10.5pt;
    }
    .centerInfo {
      width: 150px;
    }
    .centerName {
      font-size: 15pt;
      text-align: left;
    }
    .topInfo {
      width: 125px;
    }
    .imageLogo {
      max-width: 100px;
      border-radius: 6px;
    }
    .scoreSize {
      width: 48px;
      display: inline-table;
      text-align: center;
      height: 19px;
      border: none;
      border-radius: 4px;
      font-size: 12pt;
      font-family: SfUiDisplayBold;
    }
    .commentsSize {
      font-size: 15px;
    }
    tr.spaceUnder>td {
      padding-bottom: 8px;
    }
    .heightBlue {
      height: 150px;
    }
    .reservarButton {
      border-radius: 17px;
      width: 119px;
      height: 30px;
      background-color: #00B901;
      font-family: SfUiDisplayRegular;
      font-size: 10pt;
      box-shadow: none;
    }
    .infoButton {
      border-radius: 17px;
      width: 119px;
      height: 30px;
      background-color: transparent;
      font-family: SfUiDisplayRegular;
      font-size: 10pt;
      color: #3740C3;
      border-color: #3740C3;
      border: 1px solid;
      box-shadow: none;
    }
    .cityText {
      font-size: 10pt;
      text-align: left;
    }
    .starFont {
      font-size: 1.2em;
    }
    .categoryStyle {
      color: white;
      font-family: SfUiDisplayThin;
      font-size: 20pt;
    }
  }

  @media screen and (max-width: 550px) and (min-width: 450px) {
    .resultsPos {
    }
    #map {
      width: 100%;
      height: 100%;
      opacity: 1;
      display: block;
      z-index: 5;
    }
    .info {
      position: absolute;
      top: 183px;
      left: 15px;
      background-color: white;
      border-radius: 10px;
      width: 451px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .backOrdenar {
      width: 139px;
      height: 47px;
      background-color: #FFFFFF;
      border-radius: 8px;
      left:50%;
      text-align: center;
      display: inline-table;
      box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    }
    .backOrdenarAndFiltrar {
      margin-right: 10px;
    }
    .ordenarIcon {
      margin-top: 14px;
      margin-left: 10px;
      color: rgb(69 78 219);
    }
    .filterText {
      font-size: 14pt;
    }
    .centerInfo {
      width: 198px;
    }
    .centerName {
      font-size: 19pt;
      text-align: left;
    }
    .topInfo {
      width: 130px;
    }
    .imageLogo {
      max-width: 125px;
      border-radius: 6px;
    }
    .scoreSize {
      width: 48px;
      display: inline-table;
      text-align: center;
      height: 19px;
      border: none;
      border-radius: 4px;
      font-size: 14pt;
      font-family: SfUiDisplayBold;
    }
    .commentsSize {
      font-size: 18px;
    }
    tr.spaceUnder>td {
      padding-bottom: 8px;
    }
    .heightBlue {
      height: 155px;
    }
    .reservarButton {
      border-radius: 17px;
      width: 151px;
      height: 30px;
      background-color: #00B901;
      font-family: SfUiDisplayRegular;
      font-size: 13pt;
      box-shadow: none;
    }
    .infoButton {
      border-radius: 17px;
      width: 151px;
      height: 30px;
      background-color: transparent;
      font-family: SfUiDisplayRegular;
      font-size: 13pt;
      color: #3740C3;
      border-color: #3740C3;
      border: 1px solid;
      box-shadow: none;
    }
    .cityText {
      font-size: 13pt;
      text-align: left;
    }
    .starFont {
      font-size: 19px;
    }
    .categoryStyle {
      color: white;
      font-family: SfUiDisplayThin;
      font-size: 20pt;
    }
  }

  @media screen and (max-width: 1100px) and (min-width: 550px) {
    .resultsPos {
    }
    #map {
      width: 100%;
      height: 100%;
      opacity: 1;
      display: block;
      z-index: 5;
    }
    .info {
      position: absolute;
      top: 240px;
      left: 51px;
      background-color: white;
      border-radius: 10px;
      width: 665px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .backOrdenar {
      width: 193px;
      height: 55px;
      background-color: #FFFFFF;
      border-radius: 8px;
      left:50%;
      text-align: center;
      display: inline-table;
      box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    }
    .backOrdenarAndFiltrar {
      margin-right: 10px;
    }
    .ordenarIcon {
      margin-top: 18px;
      margin-left: 10px;
      color: rgb(69 78 219);
    }
    .filterText {
      font-size: 18pt;
    }
    .centerInfo {
      width: 250px;
    }
    .centerName {
      font-size: 29pt;
      text-align: left;
    }
    .topInfo {
      width: 246px;
    }
    .imageLogo {
      max-width: 225px;
      border-radius: 6px;
    }
    .scoreSize {
      width: 75px;
      display: inline-table;
      text-align: center;
      height: 19px;
      border: none;
      border-radius: 4px;
      font-size: 20pt;
      font-family: SfUiDisplayBold;
    }
    .commentsSize {
      font-size: 24px;
    }
    tr.spaceUnder>td {
      padding-bottom: 8px;
    }
    .heightBlue {
      height: 192px;
    }
    .reservarButton {
      border-radius: 17px;
      width: 226px;
      height: 47px;
      background-color: #00B901;
      font-family: SfUiDisplayRegular;
      font-size: 19pt;
      box-shadow: none;
    }
    .infoButton {
      border-radius: 17px;
      width: 226px;
      height: 47px;
      background-color: transparent;
      font-family: SfUiDisplayRegular;
      font-size: 19pt;
      color: #3740C3;
      border-color: #3740C3;
      border: 1px solid;
      box-shadow: none;
    }
    .cityText {
      font-size: 18pt;
      text-align: left;
    }
    .starFont {
      font-size: 28.5px;
    }
    .categoryStyle {
      color: white;
      font-family: SfUiDisplayThin;
      font-size: 33pt;
    }
  }
</style>
