<ion-content class="" style="background-color: #F9F9F9; top:0px; left:0px; width: 100%; height: 100%;">
  <ion-grid class="" style="padding: 0;">
    <div style="position: absolute; background-color: #454EDB; top:0px; left:0px; width: 100%; z-index: 2;" class="heightBlue"></div>
    <ion-grid style="text-align: center; padding: 0; z-index: 3;">
      <table>
        <tr style="background-color: #3740C3; height: 63px;">
          <td style="vertical-align: bottom;"><img src="../assets/icon/logo-blanco.png" style="width: 30%;"></td>
        </tr>
      </table>
    </ion-grid>
    <ion-grid padding class="resultsPos" style="z-index: 4;">
      <div style="" *ngFor="let result of results; let i = index">
        <table style="width: 100%;">
          <tr>
            <td class="verticalTop topInfo" style="text-align: center;"><img src="{{result.logo}}"></td>
            <td class="verticalTop centerInfo">
              <table>
                <tr class="">
                  <td style="font-family: SfUiDisplayBold;" class="centerName">{{result.name}}</td>
                </tr>
                <tr class="spaceUnder cityText">
                  <td style="font-family: SfUiDisplayLight;"><ion-icon name="pin"></ion-icon> {{result.city}}</td>
                </tr>
                <tr style="display: table;">
                  <td>
                    <span style="background-color: #454EDB; color:white; vertical-align: middle;" class="scoreSize">{{result.score}}</span>
                    <ion-icon class="starFont" name="star" style="color: #FDD309;" *ngIf="((result.score*5) / 10) > 0"></ion-icon>
                    <ion-icon class="starFont" name="star" style="color: #FDD309;" *ngIf="((result.score*5) / 10) > 1"></ion-icon>
                    <ion-icon class="starFont" name="star" style="color: #FDD309;" *ngIf="((result.score*5) / 10) > 2"></ion-icon>
                    <ion-icon class="starFont" name="star" style="color: #FDD309;" *ngIf="((result.score*5) / 10) > 3"></ion-icon>
                    <ion-icon class="starFont" name="star" style="color: #FDD309;" *ngIf="((result.score*5) / 10) > 4"></ion-icon>
                    <ion-icon class="starFont" name="star-outline" style="color: #FDD309;" *ngIf="((result.score*5) / 10) <= 0"></ion-icon>
                    <ion-icon class="starFont" name="star-outline" style="color: #FDD309;" *ngIf="((result.score*5) / 10) <= 1"></ion-icon>
                    <ion-icon class="starFont" name="star-outline" style="color: #FDD309;" *ngIf="((result.score*5) / 10) <= 2"></ion-icon>
                    <ion-icon class="starFont" name="star-outline" style="color: #FDD309;" *ngIf="((result.score*5) / 10) <= 3"></ion-icon>
                    <ion-icon class="starFont" name="star-outline" style="color: #FDD309;" *ngIf="((result.score*5) / 10) <= 4"></ion-icon>
                  </td>
                </tr>
                <tr><br></tr>
              </table>
            </td>
          </tr>
          <tr style="width: 100%;">
            <td colspan="3">
              <table style="width: 100%;">
                <tr>
                  <td><hr></td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td class="verticalTop centerInfo" colspan="3">
              <table style="width: 100%;">
                <tr>
                  <td style="font-family: SfUiDisplayBold;">INFORMACIÓN</td>
                </tr>
                <tr><br></tr>
                <tr>
                  <td>{{result.description}}</td>
                </tr>
                <tr><br></tr>
                <tr>
                  <td style="font-family: SfUiDisplayBold;">HORARIOS DE ATENCIÓN</td>
                </tr>
                <tr *ngFor="let hour of result.openCloseHours;">
                  <td *ngIf="hour.dayNumber == 0"><button ion-button type="" [ngClass]="day-1 == 0 ? 'todayDayButton' : 'notTodayDayButton'"><span style='font-family: SfUiDisplayBold;'>{{day-1 == 0 ? 'Hoy' : 'Lunes'}}</span>&nbsp;<span>{{hour.start.substr(0,5)}} {{hour.end.substr(0,5)}}</span></button></td>
                  <td *ngIf="hour.dayNumber == 1"><button ion-button type="" [ngClass]="day-1 == 1 ? 'todayDayButton' : 'notTodayDayButton'"><span style='font-family: SfUiDisplayBold;'>{{day-1 == 1 ? 'Hoy' : 'Martes'}}</span>&nbsp;<span>{{hour.start.substr(0,5)}} {{hour.end.substr(0,5)}}</span></button></td>
                  <td *ngIf="hour.dayNumber == 2"><button ion-button type="" [ngClass]="day-1 == 2 ? 'todayDayButton' : 'notTodayDayButton'"><span style='font-family: SfUiDisplayBold;'>{{day-1 == 2 ? 'Hoy' : 'Miércoles'}}</span>&nbsp;<span>{{hour.start.substr(0,5)}} {{hour.end.substr(0,5)}}</span></button></td>
                  <td *ngIf="hour.dayNumber == 3"><button ion-button type="" [ngClass]="day-1 == 3 ? 'todayDayButton' : 'notTodayDayButton'"><span style='font-family: SfUiDisplayBold;'>{{day-1 == 3 ? 'Hoy' : 'Jueves'}}</span>&nbsp;<span>{{hour.start.substr(0,5)}} {{hour.end.substr(0,5)}}</span></button></td>
                  <td *ngIf="hour.dayNumber == 4"><button ion-button type="" [ngClass]="day-1 == 4 ? 'todayDayButton' : 'notTodayDayButton'"><span style='font-family: SfUiDisplayBold;'>{{day-1 == 4 ? 'Hoy' : 'Viernes'}}</span>&nbsp;<span>{{hour.start.substr(0,5)}} {{hour.end.substr(0,5)}}</span></button></td>
                  <td *ngIf="hour.dayNumber == 5"><button ion-button type="" [ngClass]="day-1 == 5 ? 'todayDayButton' : 'notTodayDayButton'"><span style='font-family: SfUiDisplayBold;'>{{day-1 == 5 ? 'Hoy' : 'Sábado'}}</span>&nbsp;<span>{{hour.start.substr(0,5)}} {{hour.end.substr(0,5)}}</span></button></td>
                  <td *ngIf="hour.dayNumber == 6"><button ion-button type="" [ngClass]="day-1 == -1 ? 'todayDayButton' : 'notTodayDayButton'"><span style='font-family: SfUiDisplayBold;'>{{day-1 == -1 ? 'Hoy' : 'Domingo'}}</span>&nbsp;<span>{{hour.start.substr(0,5)}} {{hour.end.substr(0,5)}}</span></button></td>
                </tr>
              </table>
            </td>
          </tr>
          <tr style="width: 100%;">
            <td colspan="3">
              <table style="width: 100%;">
                <tr>
                  <td><hr></td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td class="verticalTop centerInfo" colspan="3">
              <table style="width: 100%;">
                <tr>
                  <td style="font-family: SfUiDisplayBold;">UBICACIÓN</td>
                </tr>
                <tr><br></tr>
                <tr>
                  <td>{{result.address}}</td>
                </tr>
                <tr><br></tr>
              </table>
            </td>
          </tr>
          <tr style="width: 100%;">
            <td colspan="3">
              <table style="width: 100%;">
                <tr>
                  <td><hr></td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td class="verticalTop centerInfo" colspan="3">
              <table style="width: 100%;">
                <tr>
                  <td style="font-family: SfUiDisplayBold;">COMENTARIOS</td>
                </tr>
                <tr *ngFor="let rating of result.ratings;">
                  <td>
                    <table>
                      <tr>
                        <td rowspan="2"><button ion-button type="" [ngClass]="rating.score > 0 && rating.score < 4 ? 'scoreButtonRed' : rating.score >= 4 && rating.score < 7 ? 'scoreButtonYellow' : rating.score >= 7 ? 'scoreButtonGreen' : ''"><span style='font-family: SfUiDisplayBold;'>{{rating.score}}</span></button></td>
                        <td>{{rating.user}}</td>
                      </tr>
                      <tr class="vertical">
                        <td>{{rating.dateTime}}</td>
                      </tr>
                      <tr>
                        <td colspan="2">{{rating.comment}}</td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td colspan="3" style="width: 100%;"><button color="button-color" ion-button full type="" class="reservarButton">RESERVAR</button></td>
          </tr>
        </table>
      </div>
    </ion-grid>
  </ion-grid>
</ion-content>

<style>
  .formPos {
    top: 868px; position: absolute; width: 95%; left: 50%; margin-left: -47.5%; height: 370px; margin-top: -500px
  }
  .verticalTop {
    vertical-align: top;
    padding-right: 12px;
    padding: 0 !important;
  }
  .vertical {
    vertical-align: top;
  }

  @media screen and (max-width: 320px) {
  }

    @media screen and (max-width: 400px) and (min-width: 321px) {
    .formPos {
      top: 652px; position: absolute; width: 95%; left: 50%; margin-left: -47.5%; height: 370px; margin-top: -500px
    }
    .resultsPos {
      top: 96px; position: absolute; width: 95%; left: 50%; margin-left: -47.2%; padding: 0 !important;
    }
    .centerInfo {
      width: 226px;
    }
    .centerName {
      font-size: 17pt;
      color: white;
    }
    .topInfo {
      width: 125px;
    }
    .scoreSize {
      width: 32px;
      display: inline-table;
      text-align: center;
      height: 19px;
      border: none;
      border-radius: 4px;
    }
    tr.spaceUnder>td {
      padding-bottom: 32px;
    }
    .heightBlue {
      height: 160px;
    }
    .cityText {
      font-size: 11pt;
      color: white;
    }
    .starFont {
      font-size: 1.2em;
    }
    .notTodayDayButton {
      border-radius: 6px;
      height: 39px;
      background-color: transparent;
      font-family: SfUiDisplayRegular;
      font-size: 11pt;
      color: #00B901;
      border-color: #00B901 !important;
      border: 1px solid;
    }
    .todayDayButton {
      border-radius: 6px;
      height: 39px;
      background-color: transparent;
      font-family: SfUiDisplayRegular;
      font-size: 11pt;
      color: #3740C3;
      border-color: #3740C3 !important;
      border: 1px solid;
    }
    .scoreButtonRed {
      background-color: transparent;
      border-color: #E8302F !important;
      border: 1px solid;
      color: #E8302F;
      font-size: 13pt;
    }
    .scoreButtonYellow {
      background-color: transparent;
      border-color: #EECC61 !important;
      border: 1px solid;
      color: #EECC61;
      font-size: 13pt;
    }
    .scoreButtonGreen {
      background-color: transparent;
      border-color: #0FBD0D !important;
      border: 1px solid;
      color: #0FBD0D;
      font-size: 13pt;
    }
    .reservarButton {
      width: 100%;
      height: 39px;
      background-color: #00B901;
      font-family: SfUiDisplayRegular;
      font-size: 10pt;
    }
  }

  @media screen and (max-width: 450px) and (min-width: 400px) {
  }

  @media screen and (max-width: 550px) and (min-width: 450px) {
  }

  @media screen and (max-width: 1100px) and (min-width: 550px) {
  }
</style>
